/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2015, 10:51:58 AM
    Author     : duy_t
    Guide:  
        - Count from 0.
            row *pixel +5  => horizontal => Y
            col *pixel -10   => vertical => X
        pixel=30
*/

.a-001:before, .a-002:before, .a-003:before, .a-004:before, .a-005:before, .a-006:before, .a-007:before, .a-008:before, .a-009:before, .a-010:before,
.icon_free_wifi:before, .icon_free_breakfast:before,
.icon_free_pickup:before
{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icon/set.png) no-repeat;
    margin-bottom: -5px;
    border:1px solid #f2f2f2;
}

.icon_free_breakfast:before  {
    /*  row 10
        col 13 */
    background-position: -432px -300px;
}

.icon_free_pickup:before {
    background-position: -432px -395px; 
}

.icon_free_wifi:before {
    background-position: -261px -365px;
}

.a-001:before{
    background-position: -165px -4px;
}
.a-002:before{
    background-position: -72px -2px;
}
.a-003:before{
    background-position: -35px -4px;
}
.a-004:before{
    background-position: -198px -7px;
}
.a-005:before{
    background-position: -72px -34px;
}
.a-006:before{
    background-position: -35px -33px;
}
.a-007:before{
    background-position: -165px -63px;
}
.a-008:before{
    background-position: -70px -122px;
}
.a-009:before{
    background-position: -259px -6px;
}
.a-010:before{
    background-position: -36px -4px;
}