﻿body, html{
    font-family: Arial;
    background: #f4f4f4;
}
.footable{
    font-family: Arial;
}
/*boostrap modified*/
.text-success{
    color:#37af2b;
}
.btn-success{
    background: #37af2b;
    color:#fff;
    border: none;
}
.btn-primary{
    background-image: none;
}
.text-primary{
    color:#044079;
}
.btn-default{
    background-image: none;
}
.h3-title{
    font-weight: bold;
    color:#044079;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0 5px 0;
}
.h2-title{
    font-size: 25px;
    color: #044079;
}
.review-star{
    color:#fcb804;
    font-size: 18px;
    letter-spacing: -2px;
}

/*topbar*/
.topbar{
    height: 53px;
    background: #fff;
}
.topbar div{
    height: 100%;
}
.topbar .container .pull-right>div{
    float: left;
    padding:0 15px;

}

.topbar .support-number span.inner{
    border-right: 2px solid #fff;
    padding: 0 15px;
    line-height: 32px;
    display: inline-block;
    height: 32px;
}

.topbar .support-number{
    color:#fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 53px;
}

.topbar .clock{
    color:#fff;
    line-height: 53px;
    font-size: 20px;

}

.topbar .account .inner{
    background: #fff;
    padding: 0 15px;
    height: 53px;
    line-height: 53px;
    padding-top: 6px;
    padding-left: 70px;
    padding-right: 47px;
}
.topbar .account .inner span{
    line-height: 19px;
    font-size: 14px;
    color:#333;
    display: inline-block;
    text-align: center;
    position: relative;
}

.topbar .account .inner span:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f007";
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    left: -46px;
    top: 4px;
    font-size: 15px;
    background-color: #e1e0e0;
    border-radius: 50%;
    color: #333;
}
.topbar .account .inner span:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: -36px;
    top: 4px;
    font-size: 15px;
    color: #333;
}

.topbar .lang-select{
    line-height: 53px;
    padding-right: 0 !important;
}

.topbar .lang-select span.inner{
    height: 32px;
    border-left: 2px solid #fff;
    padding-left: 15px;
    line-height: 32px;
    display: inline-block;
    padding-right: 29px;
    position: relative;
}
.topbar .lang-select span.inner:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 15px;
    color: #fff;
}

/*Navbar*/
.main-nav{
    /* min-height: 93px; */
    background: #fff;
    box-shadow: none;
    border-bottom: none;
    margin-bottom: 0;
}

.main-nav .navbar-nav>li>a{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color:#333;

}
@media(min-width:768px){
    .main-nav .navbar-nav>li>a{
        height: 70px;
        line-height: 70px;
        padding-top: 0;
        padding-bottom: 0;
    }
 
}



/*Bread bar*/
.bread-bar{
    height: auto;
    background: #37AF2B;
    font-size: 15px;
    margin-bottom: 20px;
}


.breadcrumb {
    float: left;
    height: 70px;
    line-height: 59px;
    color:#fff;
    background: none;
    margin-bottom: 0;
    /* font-weight: bold; */
}
.breadcrumb *{
    color:#fff;
}
.breadcrumb a:hover{
    color:#f2f2f2;
    text-decoration: none;
}
.bread-bar .currency-and-list{
    text-transform: uppercase;
    float: right;
    margin-bottom: 0;
}
.bread-bar .currency-and-list li{
    float: left;
    padding:0 20px;
    line-height: 70px;
}
.bread-bar .currency-and-list li:last-child{
    padding-right: 0;
}
.bread-bar .currency-and-list *{
    color:#fff;
    text-transform: uppercase;
}
.currency-and-list #search-button{
    font-size: 20px;
}
.bread-bar .heart{
    color:red;
}
.bread-bar a:hover{
    color:#f2f2f2;
    text-decoration: none;
}

/*Sidebar*/

.sidebar .title{
    font-size: 20px;
    margin-bottom: 20px;
}


.filter-box{
    padding: 15px;
    background: #fff;
    color:#333;
}

.filter-head{
    background: #044079;
    color:#fff;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    margin:5px 0;
}
.filter-head:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f068";
    height: 100%;
    line-height: 44px;
    width: 38px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
.filter-head.active:after{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "+";
    height: 100%;
    line-height: 42px;
    width: 38px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.check-box-group li{
    margin: 6px 0;
    padding-left: 5px;

}
.check-box-group li input{
    display: none;
}
.check-box-group li:before{
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    display: inline-block;
    border-radius: 2px;
    margin-right: 5px;
}

/*Main list*/
.main-list{
}

.main-list .title{
    font-size: 22px;
    margin-top: 0;
}

.main-list .sort{
    padding:5px 10px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 13px;
}
.main-list .sort span.pull-left{
    font-size: 18px;
    color:#333;
    height: 34px;
    line-height: 34px;
}
.main-list .sort .input-group{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.main-list .sort .input-group:last-child{
    margin-right: 0;
}

.main-list .sort .input-group .form-control{
    max-width: 80px;
    font-size: 12px;
    border:none;
    background: #f2f2f2;
}
.main-list .sort .input-group .form-control:focus{
    box-shadow: none;
}
.main-list .sort .input-group .input-group-addon{
    border:none;
    color:#fff;
    background: #37af2b;
}
/*hotel list*/
.hotel-list .item{
    background: #fff;
    margin-bottom: 15px;
    overflow: hidden;
}
.hotel-list .item.best-price{
    background: #37af2b;
}
.hotel-list .item *{
    color:#333;
}
.hotel-list .item.best-price *{
    color:#fff;
}
.hotel-list .item .featured-image{
    padding: 0;
}
.hotel-list .item .hotel-info{
    padding:15px;
}

.hotel-list .item .hotel-info h3{
    margin:0;
    font-size: 18px;
    font-weight: bold;
}
.hotel-list .item .hotel-info .address{
    clear: both;
    margin-top: 9px;
}
.hotel-list .item .hotel-info .viewing{
    color:#044079;
    font-style: italic;
}
.hotel-list .item .hotel-info .bed-info{
    margin-top: 15px;
}
.hotel-list .item .hotel-info .left ul{
    margin:0;
}
.hotel-list .item .hotel-info .right{
    border-left: 1px solid #333;
}

.hotel-list .item .hotel-info .right .mark{
    background: transparent;
    font-size: 18px;
    font-weight: bold;
}
.hotel-list .item .hotel-info .right .devider{
    height: 1px;
    border-top: 1px solid #333;
    margin:5px 0;
}

.hotel-list .item .hotel-info .right .price{
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    color:#044079;
}
.hotel-list .item .hotel-info .right .price span.currency{
    color:#ccc;
    font-size: 13px;
}
.hotel-list .item .hotel-info .right .price-for{
    text-align: right;
    font-style: italic;
    font-weight: bold;
}
.hotel-list .item .hotel-info .right .btn{
    background: #37af2b;
    color:#F4F4F4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 15px;
    margin-top: 5px;
}
.hotel-list .item.best-price .hotel-info .right .btn{
    color:#444;
}
.hotel-list .item .hotel-info .right .btn:hover{
    color: #333;
}
.hotel-list .item.best-price .hotel-info .right .btn{
    background: #fff;
}
.hotel-list .item.best-price .hotel-info .right .btn:hover{
    color: #333;
}

.hotel-list .item .hotel-info .right .base-on{
    font-size: 12px;
}
.hotel-list .item .hotel-info .right ul{
    margin: 0;
}
.hotel-list .item.best-price .item-title{
    background: #044079;
    color:#fff;
    border-radius: 5px 5px 0 0;
    height: 42px;
    font-size: 18px;
    font-weight: bold;
    line-height: 42px;
    padding: 0 15px;
}
.star{
    position: relative;
}
.star>i{
    color:#f9e503 !important;
    font-size: 18px;
    text-shadow: 1px 1px 0px #9D9108;
}
.hotel-list .item .star .facility{
    position: absolute;
    right: 0;
    top: 15px;
}
.hotel-list .item .star .facility i{
    color:#999;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 18px;
    text-shadow: none;
    border:1px solid #999;
    border-radius: 50%;
}
/*Pagination bar*/
.pagination-bar{
    padding: 5px 15px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}
.pagination-bar>div:first-child{
    height: 34px;
    line-height: 34px;
    margin-right: 15px;
}
.pagination{
    margin:0;
}

.pagination>li>a, .pagination>li>span{
    border:none;
}
.pagination>li>a, .pagination>li>span{
    color:#333;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
    color:#333;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background: #37af2b;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
}

.back-to-top{
    height: 34px;
    line-height: 34px;
    float: right;
    padding-right: 20px;
    position: relative;
}

.back-to-top:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f106";
    height: 100%;
    line-height: 34px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 19px;
    cursor: pointer;
    font-weight: bold;
}

/*Popular item*/
.popular-hotel .popular-hotel-2{
    margin-top: 30px;
}
.popular-hotel h2{
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #044079;
    margin-top: 0;
}
.popular-hotel .container .inner, .popular-hotel .container-fluid .inner{
    background: #fff;
    padding:15px;
    padding-left: 30px;
    padding-right: 30px;
}
.popular-hotel .hotel-items .item{
    padding: 0 10px;
}
.popular-hotel .hotel-items .item h3{
    font-size: 18px;
    font-weight: bold;
    color:#044079;
}
.popular-hotel .hotel-items .item .price{
    color:#37af2b;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.popular-hotel .hotel-items .item p{
    margin-bottom: 0px;
}
.popular-hotel .hotel-items .item img{
    border-radius: 5px;
}
.popular-hotel-2 h2{
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #044079;
    margin-top: 0;
}
.popular-hotel-2 .container .inner, .popular-hotel-2 .container-fluid .inner{
    background: #fff;
    padding:15px;
}
.popular-hotel-2 .hotel-items .item{
    padding: 0 10px;
}
.popular-hotel-2 .hotel-items .item h3{
    font-size: 18px;
    font-weight: bold;
    color:#044079;
}
.popular-hotel-2 .hotel-items .item .price{
    color:#37af2b;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.popular-hotel-2 .hotel-items .item p{
    margin-bottom: 0px;
}
.popular-hotel-2 .hotel-items .item img{
    border-radius: 5px;
}

/*footer*/
.footer{
    padding:15px 0;
    background: #fff;
    margin-top: 15px;
}

.footer-top{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9B9595;
}

.footer *{
    color:#838282;
}
.footer ul li{
    padding: 3px 0;
}
.footer ul li a{
    font-size: 13px;
}
.footer .social li{
    margin-right: 5px;
}
.footer .social a i{
    height: 24px;
    width: 24px;
    color:#fff;
    border-radius: 50%;
    background: #b1b1b1;
    display: block;
    text-align: center;
    line-height: 25px;
}
.footer .social a i:hover{
    background: #37af2b;
    color:#fff !important;
}
.footer .social a:hover{
    text-decoration: none;
}

.footer .secure-by li{
    margin-right: 15px;
}

.footer .secure-by li:last-child{
    margin-right: 0;
}

.footer p{
    font-size: 13px;
}

.footer .support-number{
    color: #37af2b;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
}

.footer .support-email i{
    font-size: 25px;
}

.footer .payment-system li{
    margin-right: 10px;
}
.footer .payment-system li:last-child{
    margin-right: 0px;
}
.footer .key-brand li{
    float: left;
    height: 38px;
    margin-bottom: 10px;
    margin-right: 5px;
    line-height: 38px;
}

/**********detail page************/
/*Search bar*/
.search-bar{
    padding: 8px 15px;
    background: #fff;
    overflow: hidden;
    border: 1px solid #E8E8E8;
    color: #333;
    margin-bottom: 15px;
    display: none;
}

.search-bar label{
    color:#ccc;
    text-transform: uppercase;
    display: block;
    padding: 0;
    font-size: 12px;
}
.search-bar .value{
    text-align: center;
    font-weight: bold;
}
.search-bar .value i{
    font-size: 20px;
}

.search-bar .item{
    margin-bottom: 15px;
}

@media(min-width:992px){
    .search-bar button{
        margin-top: 24px;
    }
}

@media(min-width:768px){
    .search-bar .item{
        margin-bottom: 0;
    }
}



/*general info*/
.general-info{
    padding: 0 15px;
}
.general-info *{
    color:#044079;
}
.general-info .title{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
.general-info .pull-right * {
    color:#333;
}
.general-info .pull-right .price{
    color:#37af2b;
    font-size: 25px;
    font-weight: bold;
}
.general-info .pull-left, .general-info .pull-right{
    margin-bottom: 20px;
}
@media(max-width: 768px)
{
    .general-info .pull-left, .general-info .pull-right{
        text-align: left;
        float: none !important;
    } 
    .breadcrumb{
        line-height: normal;
        height: auto;
    }
    .bread-bar .currency-and-list li{
        line-height: normal;
    }
       .navbar-default .navbar-toggle{
        margin-top: 16px !important;
        margin-right: 24px !important;
    }
    .bread-bar .currency-and-list a i{
        margin-top: 6px;
    }
}

/*Main hotel info*/
.main-info .image-wrap{
    padding: 3px;
    background: #fff;
}
.main-info .big-image{
    margin-bottom: 15px;
}
.main-info .key-point{
    background: #fff;
}
.main-info .ul-title ul{
    padding-left: 5px;
}
.main-info .ul-title>li{
    margin-bottom: 15px;
}
.main-info .ul-title ul li{
    list-style-type: disc;
    list-style-position: inside;
}
.main-info .review-star{
    margin-top: -3px;
    margin-bottom: 15px;
}

/*right sidebar*/
.right-sidebar{
    background: #fff;
    padding:0 8px;
    overflow: hidden;
}
.right-sidebar .h3-title{
    letter-spacing: -1px;
    margin-bottom: 5px;
}
.right-sidebar button{
    background: #f4f4f4;
    margin-bottom: 15px;
    font-size: 25px;
    padding:0;
    height: 30px;
    line-height: 30px;
}
.right-sidebar .list-hotel li{
    float: left;
    max-width: 221px;
    margin: 7.5px;
}

@media(min-width:1201px){
    .right-sidebar .list-hotel li{
        float: none;
        margin: 0;
        margin-bottom: 15px;
    }
}

@media(min-width:992px) and (max-width:1200px){
    .right-sidebar .list-hotel li{
        max-width: 25%;
        padding: 15px;
        margin: 0;
    }
    .right-sidebar button{
        display: none;
    }
}

.right-sidebar .price{
    font-size: 15px;
}
.right-sidebar .price span{
    font-weight: bold;
}
.right-sidebar .viewing{
    font-style: italic;
}
.right-sidebar .text-primary{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

/*hotel main info*/
.hotel-main-info .short-introduction{
    font-size: 16px;
    margin-top: 30px;
}
.hotel-main-info .facility{
    padding:5px 15px;
    background: #fff;
    overflow: hidden;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 5px;
    border:1px solid #ccc;
}
.hotel-main-info .facility .pull-left{
    font-weight: bold;
}
.hotel-main-info .facility .pull-left span{
    text-transform: uppercase;
    font-size: 22px;
}

.hotel-main-info .facility .pull-right{
    height: 31px;
    line-height: 31px;

}
@media(max-width:650px){
    .hotel-main-info .facility > div{
        float: none !important;
    }
}
@media(min-width:992px){
    .hotel-main-info .list-facilities-wrap{
        padding-left: 0;
        padding-right: 0;
    }
}
@media(max-width: 992px){
    .hotel-main-info .list-facilities .group > li{
        float: left;
        min-width: 180px;
    }

}


.hotel-main-info .list-facilities{
    margin-top: 30px;
}
.hotel-main-info .list-facilities ul li ul{
    padding-left: 0;
}
.hotel-main-info .list-facilities .group{
    padding: 0;
    float: left;
    list-style-type: none;
}
.hotel-main-info .list-facilities .group>li{
    font-weight: bold;
    float: left;
    margin-bottom: 20px;
}
.hotel-main-info .list-facilities ul li ul{
    margin-top: 10px;
}
.hotel-main-info .list-facilities ul li ul li{
    list-style: none;
    position: relative;
    font-weight: normal;
    padding-left: 25px;
}

.hotel-main-info .list-facilities ul li ul li:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    position: absolute;
    font-size: 15px;
    color: #37af2b;
    left: 0;

}





.hotel-main-info .list-facilities2{
    margin-top: 30px;
}
.hotel-main-info .list-facilities2 ul li ul{
    padding-left: 0;
}
.hotel-main-info .list-facilities2 .group{
    padding: 0;
    
    list-style-type: none;
}
.hotel-main-info .list-facilities2 .group>li{
    font-weight: bold;
    
    margin-bottom: 0px;
}
.hotel-main-info .list-facilities2 ul li ul{
    margin-top: 0px;
}
.hotel-main-info .list-facilities2 ul li ul li{
    list-style: none;
    position: relative;
    font-weight: normal;
    padding-left: 25px;
}

.hotel-main-info .list-facilities2 ul li ul li:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    position: absolute;
    font-size: 15px;
    color: #37af2b;
    left: 0;

}


/* ========================================================*/
.hotel-main-info .policy-other-info {
    padding:5px 15px;
    background: #fff;
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #ccc;
}
.policy_item {
    overflow: hidden;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.strong {
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
} 
/* ========================================================*/


.search-available {
    background: #044079;
    color:#fff;
    padding: 15px 0;
    margin-bottom: 10px;
}

.select-room-title{
    padding-bottom: 2px;
    border-bottom: 1px solid #044079;
    margin-bottom: 15px;
    margin-top: 30px;
}


.available-rooms .list-facilities{
    background: #fff;
    margin-top: 0;
    padding:0 10px;
    padding-bottom: 15px;
}
.available-rooms .list-facilities li{
    font-size: 13px;
    margin-bottom: 10px;
    float: left;
    min-width: 130px;
}
.available-rooms .list-facilities .list-items{
    display: table;
}
.available-rooms .list-room>li{
    padding:15px;
    background: #fff;
    margin-bottom: 10px;
}
.available-rooms .list-room li h3{
    margin-top: 0;
}
.available-rooms .list-room li h3 a{
    text-transform: uppercase;
    font-size: 16px;
}

.available-rooms .list-room li h3 a:hover{
    text-decoration: none;
}

.available-rooms .list-room .room-info{
    height: 100%;
    position: relative;
    overflow: hidden;
    min-height: 154px;
}

.available-rooms .list-room .room-info ul{
    float: left;
}
    .available-rooms .list-room .room-info ul li {
        margin-top: 5px;
    }
.available-rooms .list-room .room-info .bottom{
    /* margin-bottom: -20px; */
    position: absolute;
    left: 15px;
    bottom: 0;
}



.available-rooms .list-room .price-info{
    text-align: right;
}
.available-rooms .list-room .price-info .price{
    margin-top: 15px;
    text-transform: uppercase;
    color: #333;
    font-size: 16px;
}




.available-rooms .list-room .price-info .price span{
    font-size: 22px;
    font-weight: bold;
}

.available-rooms .list-room .price-info .text-primary{
    font-style: italic;
    font-weight: bold;
}



.available-rooms .list-room .price-info button{
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    background: #37af2b;
    margin-top: 10px;
}

.available-rooms .list-room .price-info .btn_book{
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    background: #37af2b;
    margin-top: 10px;
}



@media(min-width:375px) and (max-width:768px){
    .available-rooms .list-room img{
        display: none;
    }
    .room-info{
        width: 60%;
        float: left;
    }
    .price-info{
        width: 40%;
        float: left;
    }
}

.fail .step {
    overflow: hidden;
    position: relative;
    font-weight: bold;
    margin: 20px 0;
}
.fail .step:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #37AF2B;
    display: block;
    margin-top: 20px;
}
.infomation .circle {
    font-size: 30px; 
    color: #fff; 
    display: inline; 
    background: #37AF2B; 
    border-radius: 50%; 
    padding: 1px 12px;
}
.infomation .step {
    overflow: hidden;
    position: relative;
    font-weight: bold;
    margin: 20px 0;
}
.infomation .step:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: #37AF2B;
    display: block;
    margin-top: 20px;
}

.content-fail .notice {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    color: #044079;
    margin-bottom: 30px;
}




@media(max-width:600px){
    .content-fail .notice span{
        display: block;
        text-align: center;
    }
}
@media(min-width:600px){
    .content-fail .notice{
        padding-top: 18px;
        margin-top: 29px;
    }
    .content-fail .notice span{
        margin-top: 15px;
    }
}
@media(min-width:769px) and (max-width:997px){
    .content-fail .fail2{
        margin:0 !important;
        padding:10px !important;

    }
    .information-inner .date-label > div:last-child{
    }

}
.content-fail .suggest {
    background: url('../img/background/booking-fail.png') no-repeat;
    overflow: hidden;
    background-color: #DAEAF8;
    border-radius: 15px;
    margin: 20px 10px;
}

@media(max-width:768px){
    .content-fail .suggest{
        background-image: none;
        margin:20px 0;
    }
}
@media(max-width:450px){
    .content-fail .fail2{
        margin: 0;
    }
}
.content-fail .img-hotel {
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}
.content-fail .suggest .name-hotel {
    font-size: 15pt;
    color: #044079;
    margin-bottom: 10px;
}
.content-fail .suggest .hotel {
    padding: 15px;
}
.content-fail .check-in .date-check-in {
    font-size: 15pt;
    color: #044079;
    text-align: center;
}
.content-fail .check-in .group-about {
    line-height: 30px;
}
.check-in .group-about .name-about {
    min-width: 170px;
    float: left;
    font-weight: bold;
}
.check-in .group-about .about1 {
    display: inline-block;
    font-weight: bold;
    font-size: 15pt;
    color: #044079;
}
.check-in .group-about .about2 {
    display: inline-block;
}
.check-in .group-about .about3 {
    display: inline-block;
    background: #fff;
    color: #fa2c2c;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.content-fail .check-in .date-check-out {
    font-size: 15pt;
    color: #044079;
    text-align: center;
}

.date-check .date{
    float: left;
    max-width: 100px;
    border-radius: 15px;
    border: 2px solid #044079;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
}
.date-check {
    margin:15px 0;
}
.content-fail .fail2 {
    padding: 40px;
    margin: 8px;
    background: #fff;
    border-radius: 15px;
}
.fail .book-hotel {
    margin-top: 75px;
    border-top: 10px solid #044079;
    border-left: 2px solid #044079;
    border-right: 2px solid #044079;
    border-bottom: 2px solid #044079;
    overflow: hidden;
    padding: 30px;
}

@media (max-width:768px) and (orientation: portrait) { 
    .fail .book-hotel{
        padding:15px;
    }
}

.book-hotel .name-book {
    text-align: center;
    font-size: 20pt;
    color: #044079;
    margin-bottom: 20px;
    letter-spacing: -2px;
}


.book-hotel .form-book {
    overflow: hidden;
    background: #fff;
    padding: 10px;
    color: #044079;
}

.content-step2 .suggest {
    background: url('../img/background/booking-fail.png') no-repeat;
    overflow: hidden;
    background-color: #DAEAF8;
    border-radius: 15px;
    margin: 20px 0px;
}
.content-step2 .img-hotel {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.content-step2 .img-hotel .hotel-avatar-circle {
    width: 150px;
    height: 150px;
}
.content-step2 .suggest .name-hotel {
    font-size: 15pt;
    color: #044079;
    font-weight: bold;
    margin-bottom: 20px;
}
.content-step2 .suggest .hotel {
    padding: 15px;
}

.information-inner .date-label{
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
}
.information-inner .date-label>div:first-child{
    width: 90px;
    height: 60px;
    color:#044079;
    font-size: 22px;
    border-radius: 5px;
    text-align: center;
    border:2px solid #044079;
    line-height: 27px;
}
.information-inner .date-label>div:last-child{
    font-size: 18px;
    color:#044079;
    line-height: 60px;
    margin-left: 10px;
}

@media(max-width:768px){
    .information-inner .date-label{
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: center;
    }
    .information-inner .date-label>div:first-child{
        display: inline-block;
        margin-bottom: 10px;
    }
    .information-inner .date-label > div:last-child{
        line-height: normal;
        margin-left: 0;
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;
    }
    .suggest .name-hotel{
        margin-bottom: 0;
    }
}

.information-inner ul{
    list-style-type: none;
    padding: 0;
}

.information-inner ul li{
    margin-bottom: 10px;
}

.information-inner ul li span{
    display: inline-block;
    font-weight: bold;
    width: 135px;
}

@media(max-width:518px){
    .max-xxs{
        width: 100% !important;
    }
}

.content-step2 .check-in .date-check-in {
    font-size: 15pt;
    color: #044079;
    margin-bottom: 20px;
}
.content-step2 .check-in .group-about {
    line-height: 23px;
}
.content-step2 .check-in .group-about .name-about {
    min-width: 130px;
    float: left;
    font-weight: bold;
}
.content-step2 .check-in .group-about .about1 {
    display: inline-block;
    font-weight: normal;
    font-size: 11pt;
    color: #333333;
}
.content-step2 .chitiet {
    font-size: 15pt;
    color: #044079;
    font-weight: bold;
    margin: 35px 0 15px 0;
}

.content-step2 .about-contact {
    overflow: hidden;
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid #ebebeb;
}
.content-step2 .about-contact label{
    font-weight: normal;
}
.content-step2 .about-contact p{
    margin-bottom: 10px;
}
.content-step2 .method-paymen {
    overflow: hidden;
    background: #f7f7f7;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}
.list-room>li {
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
}
.content-step2 .special {
    overflow: hidden;
    padding: 15px;
    background: #d2e4f2;
    margin-bottom: 15px;
}

.content-step2 .continue-button{
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    float: right;
}

.sidebar .hotline {
    border: 2px solid #f70b16;
    border-radius: 7px;
    font-size: 20pt;
    color: #F70B16;
    padding: 20px;
    font-weight: bold; 
    padding-bottom: 0px;
}
.sidebar .hotline .name {
    margin-top: -35px;
    text-align: center;
    background: #F4F4F4;
    font-size: 15pt;
    position: relative;
    padding-left: 50px;
}
.sidebar .hotline .name:before {
    position: absolute;
    content: "\f098";
    left: 25px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30pt;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: -6px;
}
.sidebar {
    margin-top: 40px;
}
.sidebar .xacnhan {
    margin: 30px 0;
    overflow: hidden;
    border: 2px solid #044079;
    border-radius: 7px;
}
.sidebar .xacnhan .name {
    padding: 5px 15px;
    background: #DAEAF8;
    color: #044079;
    font-weight: bold;
    text-align: center;
    font-size: 14pt;
}



.sidebar .xacnhan ul{
    padding:0;
    list-style-type: none;
    padding:5px 10px;
    margin-top: 10px;
}
.sidebar .xacnhan ul li{
    min-height: 30px;
}
.sidebar .xacnhan ul li span:last-child{
    float: right;
    font-weight: bold;
}
.sidebar .price-room {
    color: #fff;
    background: #044079;
    padding: 5px 10px;
    font-weight: bold;
    overflow: hidden;
}
.sidebar .ct {
    padding: 10px;
    background: #fff;
    overflow: hidden;
}
.sidebar .xacnhan .tc {
    background: #fff;
    text-align: center;
    border: 2px solid #044079;
    padding: 10px;
    margin: 15px;
    font-weight: bold;
}
.sidebar .slogan {
    font-weight: bold;
    color: #044079;
    margin-left: 60px;
    line-height: 35px;
    margin-top: 15px;
}
.sidebar .slogan:before {
    position: absolute;
    content: "\f00c";
    left: 25px;
    color: #37AF2B;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30pt;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ico-name-paymen:before {
    position: absolute;
    content: "\f15b";
    left: 30px;
    color: #044079;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15pt;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-step2 .ico-name-paymen {
    font-size: 15pt;
    color: #044079;
    margin: 5px 25px;
}
.content-step2 .thumbnail-name {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media(min-width:450px) and (max-width:768px){
    .content-step2 .selected-rooms li img{
        display: none;
    }
}

.about-contact .img-thumbnail {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    float: left;
}
.about-contact .list-paymen .name {
    overflow: hidden;
    padding-left: 55px;
    color: #333;
    position: relative;
    padding-top: 30px;
    font-size: 13pt;
}
.about-contact .list-paymen .name:before {
    position: absolute;
    content: "\f21b";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30pt;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 10px;
    top: 40px;
}
.about-contact .list-paymen {
    overflow: hidden;
    margin-top: 10px;
}
.method-paymen .list-pay .select-pay {
    font-weight: bold;
    font-size: 13pt;    
    padding-bottom: 10px;
}
.method-paymen .list-pay {
    background: #ebebeb;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
}
.method-paymen .list-pay .pay-1:before {
    content: "";
    background: url(../img/icon/pay-1.png);
    position: absolute;
    width: 42px;
    height: 34px;
    left: -50px;
}
.method-paymen .list-pay .pay-2:before {
    content: "";
    background: url(../img/icon/pay-2.png);
    position: absolute;
    width: 42px;
    height: 34px;
    left: -50px;
}
.method-paymen .list-pay .pay-3:before {
    content: "";
    background: url(../img/icon/pay-3.png);
    position: absolute;
    width: 42px;
    height: 34px;
    left: -50px;
}
.method-paymen .list-pay .pay-4:before {
    content: "";
    background: url(../img/icon/pay-4.png);
    position: absolute;
    width: 42px;
    height: 34px;
    left: -50px;
}
.method-paymen .list-pay .pay-5:before {
    content: "";
    background: url(../img/icon/pay-5.png);
    position: absolute;
    width: 42px;
    height: 34px;
    left: -50px;
}
span.pay-1, span.pay-2, span.pay-3, span.pay-4, span.pay-5 {
    margin-left: 50px;
    position: relative;
}

@media(max-width: 768px){
    span.pay-1, span.pay-2, span.pay-3, span.pay-4, span.pay-5 {
        font-size: 12px;
    }
}

.method-paymen .list-pay:hover {
    background: #044079;
    color: #fff;
}
.method-paymen .info-card {
    margin-top: 20px;
}
.expyri-date {
    min-width: 150px;
    border-radius: 4px;
}
.profile-booking .sidebar {
    margin: 0px;
}
.profile-booking .sidebar .name {
    background: #044079;
    color: #fff;
    text-align: center;
    padding: 15px 0 65px 0;
    margin-bottom: -50px;
}
.profile-booking .sidebar .avatar {
    margin: 0 auto;
    position: relative;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-booking .sidebar .avatar img {
    width: 100px;
    height: 100px;
}
.profile-booking .sidebar .list-book {
    background: #e7e5e5;
    padding: 60px 0 10px 0;
    margin-top: -50px;
    text-align: center;
    font-weight: bold;
    color: #044079;
}
.sidebar .list-info{
    list-style-type: none;
    padding: 0;
}
.sidebar .list-info li {
    background: #F0EDED none repeat scroll 0% 0%;
    padding: 5px 40px;
    margin: 2px 0px;
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding-left: 40px;
    height: 48px;
    line-height: 48px;
}
.sidebar .list-info a {
    color: #333;
}

.sidebar .list-info li:before{
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 15px;
    top: 20px;
}

.sidebar .list-info1:before {
    content: "\f007 ";

}
.sidebar .list-info2:before {
    content: "\f09a ";
}
.sidebar .list-info3:before {
    content: "\f1da";
}
.sidebar .list-info4:before {
    content: "\f0cb";
}
.sidebar .list-info5:before {
    content: "\f085";
}

.profile-booking .sidebar .s-bay {
    padding: 70px 6px 10px;
    background: #044079;
    color: #fff;
    font-weight: bold;
    position: relative;
    font-size: 10pt;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
}
.profile-booking .sidebar .s-hotel {
    padding: 70px 6px 10px;
    background: #37af2b;
    color: #fff;
    font-weight: bold;
    position: relative;
    font-size: 10pt;
    width: 48%;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
}
.profile-booking .sidebar .s-bay:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50px;
    background: url(../img/icon/bay.png) no-repeat;
    top: 20px;
    left: 10px;
}
.profile-booking .sidebar .s-hotel:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 58px;
    background: url(../img/icon/hotel.png) no-repeat;
    top: 8px;
    left: 35px;
}
.profile-booking .main-content .name {
    float: left;
    width: 25%;
    position: relative;
    cursor: pointer;
}

@media(max-width:640px){
    .profile-booking .main-content .name{
        width: 50%;
        margin-bottom: 3px;
    }
    .profile-booking .main-content .name:nth-child(2n+1){
        clear: left;
    }
}

.profile-booking .main-content .name>div:before{
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 85px;
    top: 10px;
    font-size: 20pt;
    background: #fff;
    padding: 7px;
    border-radius: 50%;
    left: 50%;
    margin-left: -20px;
}

.main-content .name .name1,.main-content .name .name2,.main-content .name .name3,.main-content .name .name4 {
    background: #d2e4f2;
    margin: 0 1px;
    text-align: center;
    font-weight: bold;
    color: #044079;
    min-height: 110px;
    padding: 60px 20px 10px;
}

@media(max-width:1200px){
    .main-content .name .name1,.main-content .name .name2,.main-content .name .name3,.main-content .name .name4{
        min-height: 130px;
    }
}


.main-content .name .name1:before {
    content: "\f0c0";
}
.main-content .name .name2:before {
    content: "\f022";

}
.main-content .name .name3:before {
    content: "\f03a";
}
.main-content .name .name4:before {
    content: "\f0d6";
}
.main-content .name .active {
    background: #e7e5e5;
}

.profile-booking .main-content .form-profile {
    max-width: 65%;
    margin: 10px 0;
}
.profile-booking .main-content .list-menu {
    margin-bottom: 30px;
    overflow: hidden;
}
.profile-booking .main-content table {
    margin-top: 30px;
    width: 100%;
}
.profile-booking .main-content table tr th {
    text-align: center;
    padding-bottom: 10px;
    color: #044079;
    padding: 5px;
}
.profile-booking .main-content table tr td {
    border-top: 1px dotted #999;
    padding-top: 5px;
    padding-bottom: 5px;
}
.main-content .group-profile .title, .title-2 {
    border-bottom: 2px solid #044079;
    font-weight: bold;
    font-size: 12.24pt;
    color: #044079;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 15px;
    margin: 5px;
}
.profile-booking .main-content .group-profile {
    overflow: hidden;
    position: relative;
    background: #fff;
    border: 1px solid #ececec;
    margin-bottom: 10px;
}
.main-content .group-profile .title:before {
    content: "\f0ea";
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 10px;
    top: 25px;
}
.main-content .group-profile .title-2:before {
    content: "\f065";
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 10px;
    top: 25px;
}
.profile-booking .main-content .group-profile .list-name {
    float: left;
    font-weight: bold;
    font-size: 10pt;
    min-width: 140px;
}
.profile-booking .main-content .group-profile .group-name {
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
}
.group-name:nth-child(2n+1) {
    background: #f0eded;
}
.profile-booking .main-content .favorite {
    position: relative;
    background: #fff;
}
.profile-booking .main-content .favorite .name-favorite {
    font-size: 20pt;
    color: #044079;
    padding-left: 50px;
    padding-top: 15px;
}
.profile-booking .main-content .favorite .name-favorite:before {
    content: "\f004";
    color: #f8070d;
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 15px;
    top: 20px;
    font-size: 25px;
}
.profile-booking .main-content .name-comment {
    font-size: 12.24pt;
    color: #044079;
    font-weight: bold;
    border-bottom: 2px solid #044079;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
}
.profile-booking .main-content .name-comment:before {
    content: "\f0e6";
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 15px;
    top: 17px;
    font-size: 13pt;
}
.profile-booking .main-content .comment {
    background: #fff;
    overflow: hidden;
    padding: 15px;
    margin-top: 20px;
    position: relative;
}
.profile-booking .right-sidebar .list-viewed {
    overflow: hidden;
    border-bottom: 1px dotted #044079;
    padding-bottom: 10px;
}
.profile-booking .right-sidebar .list-viewed .left-view {
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 10px;
}
.profile-booking .right-sidebar .list-viewed .left-view .view-price {
    background: #044079;
    color: #fff;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
}
.profile-booking .right-sidebar {
    position: relative;
    background: #edf6fc;
}
.profile-booking .right-sidebar .viewed {
    font-size: 20pt;
    padding-left: 40px;
    color: #044079;
    padding-top: 15px;
    position: relative;
}
.profile-booking .right-sidebar .viewed:before {
    content: "\f06e";
    position: absolute;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 0;
    top: 20px;
    font-size: 20pt;
}
.profile-booking .right-sidebar .list-viewed .right-view h4 {
    font-size: 12pt;
    font-weight: bold;
}
.profile-booking .right-sidebar .list-viewed .right-view .price {
    font-size: 14pt;
    color: #37af2b;
    font-weight: bold;
}
.profile-setting .about .name {
    background: #dbd9d9;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    padding-left: 15px;
}
.profile-setting .about {
    overflow: hidden;
    background: #fff;
}
.profile-setting .about .l-about {
    overflow: hidden;
    border-bottom: 2px dotted #333;
    margin: 15px;
    padding-bottom: 20px;
}
.profile-setting .about .item {
    width: 50%;
    float: left;
}
.profile-setting .about .pull-right.img-avatar {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-setting .about .avatar {
    padding: 15px;
    overflow: hidden;
}
.profile-setting .about .select-file {
    padding: 15px;
}

.profile-setting .about .group {
    overflow: hidden;
    padding: 0 15px 15px;
}

.navbar-brand{
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
}

.navbar-brand img{
    max-height: 50px;
    display: inline;
}

@media(max-width:992px){
    .footer-top .item:nth-child(2n+1){
        clear: left;
    }
}

@media(max-width: 768px){
    .hotel-list .item .hotel-info .right{
        border-left: none;
    }
    .content-step2 .suggest{
        background-image: none;
    }
    .sidebar{
        margin-top: 20px;
    }
    .content-fail .fail2{
        padding: 20px;
    }
    .content-fail .check-in .group-about{
        padding:10px;
    }
    .content-fail .check-in .date-check-in>div:first-child, .content-fail .check-in .date-check-out>div:first-child{
        display: table;
        margin: auto;
        margin-top: 40px;
        float: none !important;
    }
    .content-fail .check-in .date-check-in>div:last-child, .content-fail .check-in .date-check-out>div:last-child{
        margin: auto;
        display: table;
        text-align: center;
    }
    .content-fail .suggest .name-hotel{

    }
    .content-fail .check-in .group-about{

    }

    .hotel-list .item .hotel-info .right .mark{
        text-align: right;
    }
    .hotel-list .item .hotel-info .right .base-on{
        text-align: right;
    }
    .hotel-list .item .star .facility{
        margin-top: -10px;
    }
    .hotel-list .item .star .facility i{
        font-size: 16px;
        width: 25px;
        height: 25px;
        line-height: 25px;

    }
    .hotel-main-info .list-facilities ul li ul{
        padding-left: 20px;
    }

    .navbar-brand > img{
        display: inline;
    }
}

.load-more-room{
    margin-bottom: 20px;
}



/*Flight Suggestion after booking success*/
.search-form .input-wrap{
    border-bottom: 1px dashed #044079;
    position: relative;
}
.search-form .input-wrap .calendar{
    text-align: left;
}
.search-form .input-wrap .fa{
    position: absolute;
    top: 14px;
    cursor: pointer;
}
.search-form .input-wrap .fa-minus{
    left: 0;
}
.search-form .input-wrap .fa-plus, .search-form .input-wrap .fa-angle-down, .search-form .input-wrap .fa-calendar{
    right: 0;
}

.search-form .input-wrap input{
    border: none;
    background: none;
    box-shadow: none;
    padding-bottom: 2px;

}
.search-form .input-wrap input:focus{
    box-shadow: none;
}

.search-form .input-wrap input {
    text-transform: uppercase;
    color:#838282;
    font-weight: bold;
    text-align: center;
}
.search-form label{
    font-weight: normal;
}

/*Tour suggestion*/
.tour-suggestion{
    margin:80px 0;
}

.tour-suggestion-title{
    color:#37AF2B;
    margin-bottom: 30px;
}

.tour-suggestion-title span{
    color:#333;
    display: block;
    text-align: center;
    margin-top: 30px;
}
.tour-suggestion .item{
    text-align: center;
    color:#333;
    font-weight: bold;
    margin-bottom: 40px;
}
.tour-suggestion .item a h4{
    text-align: center;
    color:#333;
    margin-bottom: 5px;
    font-weight: bold;
}

.tour-suggestion .item a:hover{
    color:#044079;
    text-decoration: none;
}
.tour-suggestion .item .price{
    font-weight: bold;
    font-size: 18px;

}
.tour-suggestion .item .price span{
    color:#37AF2B;
}

.tour-suggestion .item .btn{
    margin-top: 10px;
}

@media(min-width:375px) and (max-width:768px){
    .tour-suggestion .item{
        width: 50%;
        float: left;
    } 
    .tour-suggestion .item:nth-child(2n+1){
        clear: left;
    }

    /*Search Result*/


}

@media(min-width:550px) and (max-width:768px){
    .hotel-list .item .featured-image{
        display: none;
    }
    .hxs-5, .hxs-7{
        float: left;
    }
    .hxs-5{
        width: 45%;
    }
    .hxs-7{
        width: 55%;
    }
}

@media(min-width:768px) {
   .available-rooms .list-room .price-info .price span{
       font-size: 21px;

   }

   .available-rooms .list-room .price-info {
       padding-left: 0;
   }
}


@font-face {
			font-family:Product_Sans;src:url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Regular.eot);src:local('☺'),
                url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Regular.eot?#iefix) format('embedded-opentype'),
                url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Regular.woff) format('woff'),
                url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Regular.ttf) format('truetype')
			}

          

@font-face {
font-family:Product_Sans;src:url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Italic.eot);
src:local('☺'),url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Italic.eot?#iefix) format('embedded-opentype'),
    url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Italic.woff) format('woff'),
    url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_Italic.ttf) format('truetype');font-style:italic
}

@font-face {
font-family:Product_Sans;src:url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.eot);
src:local('☺'),url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.eot?#iefix) format('embedded-opentype'),
    url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.woff) format('woff'),
    url( //hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBold.ttf) format('truetype');font-weight:700
}
           

@font-face {
font-family:Product_Sans;src:url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBoldItalic.eot);src:local('☺'),
    url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
    url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Product_Sans/Product_Sans_SemiBoldItalic.woff) format('woff'),
    url(//hstatic.net/0/0/global/design/haravan/h_haravan_home/fonts/Baomoi-SemiBoldItalic_gdi.ttf) format('truetype');font-weight:700;font-style:italic
}

body,.block2 h1
{
font-family: Product_Sans,Arial,Helvetica,sans-serif !important;
}