body{
    font-family: Arial;
    font-size: 15px;
    background: #f7f7f7;
}

section{
    margin-bottom: 40px;
}

/*Header start*/
section.header{
    background: #fff;
}
section.header .top-header{
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
section.header .top-header .logo{
    display: block;
    overflow: hidden;
}
section.header .toggle-menu{
    font-size: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
    line-height: 20px;
}
section.header .toggle-menu span{
    font-size: 15px;
    text-transform: uppercase;
}
/*topbar*/

.topbar div{

}
.topbar >div{
    float: left;
    padding:0 15px;

}

.topbar .support-number span.inner{
    border-right: 2px solid #333;
    padding: 0 15px;
    line-height: 32px;
    display: inline-block;
    height: 32px;
}

.topbar .support-number{
    color:#333;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 53px;
}

.topbar .clock{
    color:#333;
    line-height: 53px;
    font-size: 20px;

}

.topbar .account .inner{
    padding: 3px 47px 0px 70px;
    height: 47px;
    line-height: 47px;
    border: 1px solid #999;
}
.topbar .account .inner span{
    line-height: 19px;
    font-size: 12px;
    color:#333;
    display: inline-block;
    text-align: center;
    position: relative;
}

.topbar .account .inner span:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f007";
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    left: -46px;
    top: 4px;
    font-size: 15px;
    border-radius: 50%;
    color: #333;
}
.topbar .account .inner span:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: -36px;
    top: 4px;
    font-size: 15px;
    color: #333;
}

.topbar .lang-select{
    padding-right: 0 !important;
}

.topbar .lang-select span.inner{
    height: 32px;
    border-left: 2px solid #fff;
    padding-left: 15px;
    line-height: 32px;
    display: inline-block;
    padding-right: 29px;
    position: relative;
}
.topbar .lang-select span.inner:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 15px;
    color: #333;
}


.main-nav{
    height: 40px;
    line-height: 40px;
}

.main-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav ul li{
    float: left;
    padding: 0 25px;
    position: relative;
    text-align: center;
}
.main-nav ul li a{
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
}
.main-nav ul li:first-child a{
    font-size: 20px;
}
.main-nav ul li:before{
    content: "";
    display: block;
    height: 40px;
    background: url(../img/divider-bg.png) no-repeat;
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
}
.main-nav ul li.last:after{
    content: "";
    display: block;
    height: 40px;
    background: url(../img/divider-bg.png) no-repeat;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
}
@media(max-width:992px){
    .main-nav ul li::before, .main-nav ul li:after, .main-nav ul li.last:after  {
        display: none;
    }
    
    .main-nav ul li{
        float: none;
    }
    .main-nav{
        position: fixed;
        height: 100%;
        z-index: 99999999999;
        left: 0;
        top: 0;
        display: none;
        width: 300px;
    }
    .main-nav .container{
        width: 100%;
    }
    
}
/*Header End*/

/*Search bar*/
.search-bar{
    border:1px solid #e5e4e4;
    padding:8px;
    background: #fff;
}

.search-bar label{
    font-size: 11px;
    text-transform: uppercase;
    color:#999;
}

.search-bar .input-wrap, .search-bar .input-wrap input{
    color:#333;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.search-bar .direction > div{
    height: 34px;
    padding: 6px 12px;
    padding-left: 0;
}
.search-bar .input-wrap input{
    border: none;
    box-shadow: none;
}
.search-bar .input-wrap input:focus{
    box-shadow: none;
}
.search-bar .date-picker .input-wrap{
    position: relative;
}
.search-bar .date-picker i{
    color:#999;
    position: absolute;
    top: 4px;
    font-size: 20px;
}
.search-bar .date-picker .input-wrap input{
    padding-left: 30px;
}
.search-bar .date-picker i:nth-child(2){
    left: 5px;
}
.search-bar .date-picker i:first-child{
    left: -10px;
}
.search-bar .date-picker i:last-child{
    right: 30px;
}

.search-bar .search-button{
    margin-top: 12px;
}
/*End Search bar*/



/*Header*/
.header{
    margin-bottom: 10px;
}


/*End Header*/



/*Sidebar filter*/
.sidebar-row{
    margin-bottom: 35px;
}
.sidebar.filter .title .left-item, .sidebar.filter .title .right-item{
    float: left;
}
.sidebar.filter .title .left-item{
    width: 60%;
}
.sidebar.filter .title .left-item span{
    display: block;
    text-transform: uppercase;
    border-bottom:2px solid #333;
}

.sidebar.filter .title .right-item{
    border-bottom: 2px solid #999;
    width: 40%;
    text-align: right;
}
.sidebar.filter .title .right-item a{
    color:#333;
}
.sidebar.filter .title .right-item a i{
    font-size: 12px;
}

.sidebar.filter .float-items{
    padding: 0;
    list-style: none;
}

.sidebar.filter .float-items li{
    float: left;
    text-align: center;
    width: 33.3333333333333%;
}
.sidebar.filter .float-items li a{
    color:#333;
    display: block;
    padding:15px 0;
    border: 1px solid #e4e4e4;
    border-top: 4px solid #999;
}
.sidebar.filter .float-items li a:hover, .sidebar.filter .float-items li a.active{
    text-decoration: none;
    border-top: 4px solid;
}

.sidebar .number-of-stops ul{
    background: #fff;
    overflow: hidden;

}
.sidebar.filter .float-items li a.last{
    border-left: none;
}
.sidebar.filter .float-items li a.first{
    border-right: none;
}
.sidebar.filter .float-items li a span{
    display: block;
    text-align: center;
    font-size: 13px;
}
.sidebar.filter .departure-time ul li{
    width: 25%; 
}
.sidebar.filter .departure-time ul li a{
    font-weight: bold;
    font-size: 13px;
}
.sidebar.filter .departure-time ul li a span{
    font-weight: normal;
}

.sidebar.filter .departure-time{
    margin-bottom: 40px;
}
.sidebar.filter .departure-time ul{
    background: #fff;
    overflow: hidden;
    margin: 0;
}
.sidebar.filter .airlines ul{
    padding: 12px;
    border:1px solid #e6e6e6;
    background: #fff;
    overflow: hidden;
    padding-bottom: 0;
}
.sidebar.filter .airlines ul li{
    height: 50px;
}
.sidebar.filter .airlines ul li .left-item{
    font-size: 11px;
    float: left;
    width: 60%;
    padding-left: 40px;
    position: relative;
}

.sidebar.filter .airlines ul li .right-item{
    font-size: 11px;
    text-align: right;
    float: left;
    width: 40%;
}
.sidebar.filter .airlines ul li input{
    display: none;
}
.sidebar.filter .airlines ul li .checkbox{
    width: 30px;
    height: 30px;
    position: absolute;
    border:2px solid #999;
    left: 0;
    top: 0;
    border-radius: 5px;
    margin: 0;
}
/*End Sidebar Filter*/


/*Search Result List Flights*/
.list-flights .fare-type{
    width: 70%;
}
.list-flights .fare-type .title{
    overflow: hidden;
    margin-bottom: 20px;
}
.list-flights .fare-type .title .left-item{
    text-transform: uppercase;
}
.list-flights .fare-type .right-item{
    text-align: right;
}
.list-flights .fare-type .right-item a{
    color:#333;
}
.list-flights .fare-type .title>div{
    width: 50%;
    float: left;
}
.list-flights .fare-type .price-nav{
    padding-left: 45px;
    padding-right: 45px;
}
.list-flights .fare-type ul{
    padding: 0;
    margin: 0;
}
.list-flights .fare-type ul li{
    width: 33.333333333333333%;
    background: #fff;
    border:1px solid #e6e6e6;
    list-style: none;
    text-align: center;
    padding: 25px 0;
    color: #333;
    font-weight: bold;
    float: left;
}
.list-flights .fare-type ul li.active{
    color:#fff;
}
.list-flights .fare-type .arrow i{
    color: #d4d4d4;
    font-size: 30px;
}
.list-flights .fare-type .price-nav{
    position: relative;
}
.list-flights .fare-type .arrow{
    position: absolute;
    top: 30px;
}
.list-flights .fare-type .arrow-left{
    left: 0;
}
.list-flights .fare-type .arrow-right{
    right: 0;
}

.list-flights .currency-selector{
    color:#333;
    font-size: 13px;
    margin-bottom: 5px;
    overflow: hidden;
}
.list-flights .currency-selector select{
    width: 80px;
    border: 1px solid #999;
}

.list-flights .search-info-bar{
    background: #ebeaea;
    padding: 15px;
    color:#333;
}
.list-flights .search-info-bar .inner{
    padding-left: 30px;
    position: relative;
    color:#333;
}
.list-flights .search-info-bar .airport{
    text-transform: uppercase;
}
.list-flights .search-info-bar .date-and-pages{
    color:#c0c0c0;
    display: block;
    font-size: 14px;
}
.list-flights .search-info-bar .plane-icon{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.list-flights .sort-bar{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
.list-flights .sort-bar li span{
    text-transform: none;
}

.list-flights .sort-bar li:after{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
    content: "\f0d7";
    margin-left: 2px;
}

.list-flights .list-table{
    padding:10px;
    background: #fff;
    color:#333;
}

.list-flights .list-table .item{
    padding: 15px 10px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.list-flights .list-table .item:last-child{
    margin-bottom: 80px;
}
.list-flights .list-table .item .row.top>div{
    text-align: center;
    padding:0 5px;
}
.list-flights .list-table .item .row>div ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list-flights .list-table .item .row.top>div ul li{
    line-height: 12px;
}
.list-flights .list-table .item .row.top>div ul li:first-child{
    line-height: 26px;
    color:#000;
    font-weight: bold;
}
.list-flights .list-table .item .row.top>div ul li:last-child, .list-flights .list-table .item .row.top>div ul li:nth-child(2){
    font-size: 9px;
    text-transform: uppercase;
    color:#999;
}


.list-flights .list-table .item .price{
    font-size: 20px;
    font-weight: bold;
}
.list-flights .list-table .item .booking-button a:first-child{
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 0;
}
.list-flights .list-table .item .booking-button a:last-child{
    font-weight:normal;
    font-size: 10px;
    text-decoration: underline;
}
.list-flights .list-table .item .duration{
    color:#000;
    font-weight: bold;
}

.list-flights .list-table .load-more-items{
    background: #d9d9d9;
    color:#000;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.list-flights .list-table .ticket-detail{
    display: none;
    padding: 20px;
}
.list-flights .list-table .ticket-detail .fare-rules{
    text-align: left;
    font-size: 12px;
}
.list-flights .list-table .ticket-detail .fare-rules .content{
    height: 190px;
    overflow-y: scroll;
}
.list-flights .list-table .ticket-detail .fare-breadkup .title{
    display: block;
    font-weight: bold;
    border-bottom: 2px solid #999;
    margin-bottom: 20px;
}

.list-flights .list-table .ticket-detail .fare-rules .title .left-item{
    font-weight: bold;
    border-bottom: 2px solid #999;
    margin-bottom: 20px;
    float: left;
    font-size: 15px;
    min-width: 200px;
}

.list-flights .list-table .ticket-detail .fare-rules .title .right-item{
    font-weight: bold;
    font-size: 25px;
    float: right;
    cursor: pointer;
}

.list-flights .list-table .ticket-detail .fare-breadkup .content{
    font-size: 12px;
}
.list-flights .list-table .ticket-detail .fare-breadkup .content ul{
    margin-bottom: 10px;
}
.list-flights .list-table .ticket-detail .fare-breadkup .content ul li span{
    float: right;
}
.list-flights .list-table .ticket-detail .fare-breadkup .content hr {
    margin: 5px 0;
}
.list-flights .list-table .ticket-detail .fare-breadkup .content .total{
    background: #bcbdbe;
    color:#000;
    font-weight: bold;
    padding: 5px;
}
.list-flights .list-table .ticket-detail .fare-breadkup .content .total span{
    float: right;
}
/*End Search Result List Flights*/


/*Footer*/
.footer{
    padding:40px 0;
    background: #fff;
    margin-top: 15px;
    border-top: 3px solid #d9d9d9;
}

.footer-top{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9B9595;
}

.footer *{
    color:#838282;
}
.footer ul li{
    padding: 3px 0;
}
.footer ul li a{
    font-size: 13px;
}
.footer .social li{
    margin-right: 5px;
}
.footer .social a i{
    height: 24px;
    width: 24px;
    color:#fff;
    border-radius: 50%;
    background: #b1b1b1;
    display: block;
    text-align: center;
    line-height: 25px;
}
.footer .social a i:hover{
    background: #37af2b;
    color:#fff !important;
}
.footer .social a:hover{
    text-decoration: none;
}

.footer .secure-by li{
    margin-right: 15px;
}

.footer .secure-by li:last-child{
    margin-right: 0;
}

.footer p{
    font-size: 13px;
}

.footer .support-number{
    color: #37af2b;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
}

.footer .support-email i{
    font-size: 25px;
}

.footer .payment-system li{
    margin-right: 10px;
}
.footer .payment-system li:last-child{
    margin-right: 0px;
}
.footer .key-brand li{
    float: left;
    height: 38px;
    margin-bottom: 10px;
    margin-right: 5px;
    line-height: 38px;
}
/*Footer End*/