/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{width:100%;}
/*end reset*/
body {
 background: url(bg.jpg) no-repeat;
	font-family: 'Open Sans', sans-serif;
}
.wrap
{
	width:70%;
	margin: 0 auto;
}
.content
{
	padding-top: 65px ;
	
	text-align: center;
}
.logo
{
	text-align: center;
	padding: 20 0px;
	display: block;
}
.logo a
{
	display: inline-block;
}
.logo a h1
{
font-family: 'Mr Dafoe', cursive;
font-size:7em;
color: #FFF;


}
.content p
{
	color: #fff;
	font-size: 40px;
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
}
/*---start-form----*/

.form{
	width: 60%;
margin: 65px 20px 20px 223px;
position: relative;
}
.form form {
background: #FFF;

}
.notified form{
	text-align:center;
	border: 1px solid #323733;
	background: #323733;
	border-radius: 6px;
}
.form input[type="email"]{
	width: 88%;
	padding:23px;
	color:#d9d9d9;
	font-size:20px;
	 outline:none;
	 border: none;
	 background:#fff;
	margin: 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		-webkit-appearance: none;
}
.form input[type="email"]:focus
{
color: #474747;
outline: none;
	font-family: 'Open Sans', sans-serif;
}
.form input[type="submit"]{
	background:#fa9e27;
	padding: 23px ;
	border:none;
	color:#ffffff;
	outline:none;
	cursor:pointer;
	margin: 0px;
	width:30%;
	font-size:20px;
		font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
-webkit-appearance: none;
position: absolute;
right: 0;
border-radius: 0;
}
.form input[type="button"]:hover
{
	
	background: #BB7419;
}
/*----end-form-----*/
/*-----social-icons-----*/
.footer {
padding-top: 30px;
}
.social-icons
{
	margin: 0% 42%;
	padding-top: 70px;
	width: 20%;
}
.social-icons a{
		padding: 10px;
	float:left;
}
.social-icons a img{
	width:100%;
	
}
/*--------social simptip--------*/
[data-tooltip] {
position: relative;
display: inline-block;
}
[data-tooltip].simptip-position-bottom:before {
border-bottom-color: #000;
}
[data-tooltip].simptip-position-bottom:after {
background-color: #000;
color: #fff;
}
[data-tooltip]:before {
content: '';
position: absolute;
border-width: 6px;
border-style: solid;
border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before, [data-tooltip]:after {
position: absolute;
visibility: hidden;
opacity: 0;
z-index: 999999;
}
[data-tooltip]:after {
height: 22px;
padding: 11px 11px 0;
font-size: 13px;
line-height: 11px;
content: attr(data-tooltip);
white-space: nowrap;
}
[data-tooltip]:hover, [data-tooltip]:focus {
background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
visibility: visible;
opacity: 1;
}
.simptip-position-bottom.simptip-movable:before {
margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after {
margin-top: -3px;
}
.simptip-position-bottom:before, .simptip-position-bottom:after, .simptip-position-top:before, .simptip-position-top:after {
left: 32%;
}
.simptip-position-bottom:before, .simptip-position-bottom:after {
top: 110%;
}
.simptip-position-bottom:after, .simptip-position-top:after {
margin-left: -18px;
}
.simptip-position-right.simptip-movable:before, .simptip-position-right.simptip-movable:after, .simptip-position-left.simptip-movable:before, .simptip-position-left.simptip-movable:after, .simptip-position-top.simptip-movable:before, .simptip-position-top.simptip-movable:after, .simptip-position-bottom.simptip-movable:before, .simptip-position-bottom.simptip-movable:after {
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-o-transition: all .1s linear;
-ms-transition: all .1s linear;
transition: all .1s linear;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
-webkit-transform: translateY(10px);
-moz-transform: translateY(10px);
-ms-transform: translateY(10px);
-o-transform: translateY(10px);
transform: translateY(10px);
}
/*------------end social simptip----------------*/
.footer p {
color: #27ae60;
font-size: 0.85em;
line-height: 1.8em;
padding: 20px;
font-family: 'Open Sans', sans-serif;
}
.footer p a {
	font-weight: bold;
color: #27ae60;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;

}
.footer p a:hover {
	color:#2ecc71;
-
}
.footer p span{
	color: #fa9e27;
}
/*-------------response-----------------*/
@media only screen and (max-width: 1440px) and (min-width: 1366px)
{
.form {
margin: 65px 20px 20px 194px;
}
}
@media only screen and (max-width: 1366px) and (min-width: 1280px)
{
.form {
width: 64%;
margin: 65px 20px 20px 165px;
}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px)
{
	.form {
width: 68%;
margin: 65px 20px 20px 138px;
}
}
@media only screen and (max-width: 1024px) and (min-width: 768px)
{
	.form {
width: 86%;
margin: 65px 20px 20px 45px;
}
.social-icons {
width: 24%;
}
}
@media only screen and (max-width:768px) and (min-width: 640px)
{
.form {
width: 91%;
margin: 65px 20px 20px 17px;
}
.form input[type="text"] {
width: 69%;
}
.form input[type="button"] {
width: 30%;
}
.social-icons {
margin: 0% 35%;
width: 31%;
}
}
@media only screen and (max-width:640px) and (min-width: 480px)
{
.form {
width: 93%;
margin: 65px 20px 20px 17px;
}
.form input[type="text"] {
width: 64%;
}
.form input[type="button"] {
width:35%;

}
.social-icons {
margin: 0% 30%;
width: 38%;

}
}
@media only screen and (max-width:480px) and (min-width: 320px)
{

.form {
width: 93%;
margin: 65px 20px 20px 10px;
}
.form input[type="text"] {

width: 60%;
font-size:16px;
padding: 20px;
}
.form input[type="button"] {

width:38.6%;
font-size:16px;
padding: 20px;
}
.social-icons {
margin: 0% 28%;
width: 50%;

}
.content {
padding-top: 40px;
}
.content p {
padding-top: 40px;
}
.footer {
padding-top: 20px;
}
.footer p 
{
	padding: 20px;
}
}

