﻿@using ExpediaModels

@model ExpediaModels.RoomSelectorDO
@{
    ViewBag.Title = "InputCustomerViewer";
}

@{
    List<HotelImage> lst = ViewBag.RoomImages;
    string CurrentRoomURL = (from a in lst
                             where a.HotelImageId.Equals(Model.RoomDetail.RoomCode)
                             select a.Url).FirstOrDefault();
}

<li>
    <div class="row">
        <div class="col-sm-4">
            <img src="@CurrentRoomURL" class="img-responsive" alt="@Model.RoomDetail.RoomDescription">
        </div>
        <div class="col-sm-8" style="height:100%;">
            <div class="row" style="height:100%;">
                <div class="col-sm-8 room-info">
                    <h3><a href="#">@Model.RoomDetail.RoomDescription</a></h3>
                    <p>Chúng tôi còn <strong class="text-success">02</strong> phòng</p>
                     
                    <ul class="list-inline bottom">
                        @{
                            if (Model.RoomDetail.ValueAdds.Where(t => t.id.Equals("2192")).Count() > 0)
                            {
                                <li class="icon_free_wifi"> @Model.RoomDetail.ValueAdds.Where(t => t.id.Equals("2192")).Select(a => a.description).FirstOrDefault()</li>
                            }
                            if (Model.RoomDetail.ValueAdds.Where(t => t.id.Equals("2104")).Count() > 0)
                            {
                                <li class="icon_free_breakfast"> @Model.RoomDetail.ValueAdds.Where(t => t.id.Equals("2104")).Select(a => a.description).FirstOrDefault()</li>
                            }
                            if (Model.RoomDetail.ValueAdds.Where(t => t.id.Equals("2196")).Count() > 0)
                            {
                                <li class="icon_free_pickup"> @Model.RoomDetail.ValueAdds.Where(t => t.id.Equals("2196")).Select(a => a.description).FirstOrDefault()</li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-sm-4 price-info">
                    <div class="price">VND <span class="text-success">1.750.000</span></div>
                    <div class="text-primary">Giảm giá 30%</div>
                </div>
            </div>
            
        </div>
        <div class="row col-md-12">
            <div class="col-md-2">
                <label>Danh xưng:</label>
                <select class="form-control form-group">
                    <option>Ông</option>
                    <option>Bà</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Tên:</label>
                <input class="form-control form-group" type="text" />
            </div>
            <div class="col-md-4">
                <label>Họ & Tên đệm:</label>
                <input class="form-control form-group" type="text" />
            </div>
        </div>
    </div>
</li>



