﻿@using System.Configuration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="fail">
    <div class="step text-center">
        <div class="col-md-4">
            <p style="font-size: 30px; color: #044079;"><i style="background: #fff" class="fa fa-check-circle"></i></p>
            <p>Chọn khách sạn</p>
        </div>
        <div class="col-md-4">
            <p style="font-size: 30px; color: #fff; display: inline; background: #044079; border-radius: 50%; padding: 1px 9px;">2</p><br>
            <p style="max-width: 140px; display: inline-block;"> Đặt khách sạn thành công</p>
        </div>
        <div class="col-md-4">
            <p style="font-size: 30px; color: #fff; display: inline; background: #044079; border-radius: 50%; padding: 1px 9px;">3</p><br>
            <p style="max-width: 140px; display: inline-block;"> Đặt khách sạn thành công</p>
        </div>
    </div>
</section>
<div class="content-step2">
    <div class="row">
        <div class="col-md-9">
            <div class="content">
                <section>
                    <div class="chitiet">CHI TIẾT ĐẶT PHÒNG</div>
                    <div class="suggest">
                        <div class="col-md-3">
                            <div class="hotel">
                                <div class="name-hotel">REX HOTEL <i class="fa fa-star-o"></i></div>
                                <div class="img-hotel">
                                    <img style="width: 150px;height: 150px" class="img-responsive" src="img/hotel/69803_165_z.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="check-in">
                                <div class="date-check-in">
                                    <div style="float: left; max-width: 85px; border-radius: 15px; border: 2px solid #044079; text-align: center;" class="date">10 09/2015</div> <div style="padding: 15px 5px; display: inline-block;">Ngày nhận phòng</div>
                                </div>
                                <div class="group-about">
                                    <div class="name-about">
                                        MÃ THAM CHIẾU:
                                    </div>
                                    <div class="about1">BB0915-AA01234</div>
                                </div>
                                <div class="group-about">
                                    <div class="name-about">
                                        MÃ ĐẶT CHỖ:
                                    </div>
                                    <div class="about1">XI-HF012234573</div>
                                </div>
                                <div class="group-about">
                                    <div class="name-about">
                                        Khách đặt phòng:
                                    </div>
                                    <div class="about2">TRAN VAN B</div>
                                </div>
                                <div class="group-about">
                                    <div class="name-about">
                                        Chi tiết:
                                    </div>
                                    <div class="about2">
                                        3 Phòng : Standar, Premium,<br>
                                        Family Suite<br>
                                        2 Đêm<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="check-in">
                                <div class="date-check-in">
                                    <div style="float: left; max-width: 85px; border-radius: 15px; border: 2px solid #044079; text-align: center;" class="date">10 09/2015</div> <div style="padding: 15px 5px; display: inline-block;">Ngày trả phòng</div>
                                </div>
                                <div class="group-about">
                                    <div class="name-about">
                                        Điều kiện hủy:
                                    </div><br>
                                    <p>2 ngày trước khi nhận phòng (10 tháng 10, 2015). </p>
                                    <p>Hủy miễn phí trước ngày 10 tháng 10, 2015 - 12:00.</p>
                                    <p>Hủy sau ngày 10 tháng 10, 2015 - 12:00 sẽ bị thu phí 1 đêm tiền phòng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="about-contact">
                        <div class="ico-name-paymen">THÔNG TIN KHÁCH ĐẶT PHÒNG</div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="list-paymen">
                                <div class="img-thumbnail"><img src="img/hotel/69803_165_z.jpg" class="thumbnail-name" /></div>
                                <div class="name">
                                    <p><strong>TRẦN VĂN B</strong></p>
                                    <p>Phòng standar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="list-paymen">
                                <div class="img-thumbnail"><img src="img/hotel/69803_165_z.jpg" class="thumbnail-name" /></div>
                                <div class="name">
                                    <p><strong>TRẦN VĂN B</strong></p>
                                    <p>Phòng standar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="list-paymen">
                                <div class="img-thumbnail"><img src="img/hotel/69803_165_z.jpg" class="thumbnail-name" /></div>
                                <div class="name">
                                    <p><strong>TRẦN VĂN B</strong></p>
                                    <p>Phòng standar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="list-paymen">
                                <div class="img-thumbnail"><img src="img/hotel/69803_165_z.jpg" class="thumbnail-name" /></div>
                                <div class="name">
                                    <p><strong>TRẦN VĂN B</strong></p>
                                    <p>Phòng standar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="method-paymen">
                        <div class="ico-name-paymen">PHƯƠNG THỨC THANH TOÁN</div>
                        <div class="list-pay">
                            <div class="select-pay">
                                <input type="radio" class="radio-inline"> <span class="pay-1">THANH TOÁN TẠI QUẦY</span>
                                <div class="pull-right">VND 1.850.000</div>
                            </div>
                        </div>
                        <div class="list-pay">
                            <div class="select-pay">
                                <input type="radio" class="radio-inline"> <span class="pay-2">THANH TOÁN TẠI QUẦY</span>
                                <div class="pull-right">VND 1.850.000</div>
                            </div>
                        </div>
                        <div class="list-pay">
                            <div class="select-pay">
                                <input type="radio" class="radio-inline"> <span class="pay-3">THANH TOÁN TẠI QUẦY</span>
                                <div class="pull-right">VND 1.850.000</div>
                            </div>
                        </div>
                        <div class="list-pay">
                            <div class="select-pay">
                                <input type="radio" class="radio-inline"> <span class="pay-4">THANH TOÁN TẠI QUẦY</span>
                                <div class="pull-right">VND 1.850.000</div>
                            </div>
                        </div>
                        <div class="list-pay">
                            <div class="select-pay">
                                <input type="radio" class="radio-inline"> <span class="pay-5">THANH TOÁN TẠI QUẦY</span>
                                <div class="pull-right">VND 1.850.000</div>
                            </div>
                        </div>

                        <!-- Card number -->
                        <div class="row">
                            <div class="col-md-7">
                                <div class="info-card">
                                    <label>Card number</label>
                                    <input type="text" class="form-control form-group">
                                    <label>Card Holder Name</label>
                                    <input type="text" class="form-control form-group">
                                    <div class="inner">Expiry Date</div>
                                    <div class="col-md-6">
                                        <label class="mounth">Tháng</label>
                                        <select class="form-control-static expyri-date">
                                            <option>Tháng 1</option>
                                            <option>Tháng 2</option>
                                            <option>Tháng 3</option>
                                            <option>Tháng 4</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="mounth">Năm</label>
                                        <select class="form-control-static form-group expyri-date">
                                            <option>2005</option>
                                            <option>2012</option>
                                            <option>2013</option>
                                            <option>2015</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div style="margin-top: 20px" class="inner">CW</div>
                                    <input type="text" class="form-control form-group" style="max-width: 200px; float: left"> <a href="#" data-placement="right" data-toggle="tooltip" title="Đây là gì!" style="overflow: hidden; margin-left: 10px;display: inline-block; font-size: 25px;"><i class="fa fa-question-circle"></i></a>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div style="margin-top: 40px;" class="inner">
                                    <img src="img/background/payment3.png" alt="" class="img-responsive" />
                                </div>
                                <div style="color:#969494;font-style: italic;font-size: 10pt; margin-bottom: 20px;">
                                    Thông tin của Quý Khách sẽ được chúng tôi bảo mật đảm bảo quyền lợi riêng của từng khách hàng.
                                </div>
                                <button class="btn btn-danger ">THỰC HIỆN THANH TOÁN</button>
                            </div>
                        </div>
                        <!-- End card number -->
                    </div>
                </section>
            </div>
        </div>
        <!-- End content -->
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="sidebar">
                <section>
                    <div class="hotline">
                        <div class="name"> HOTLINE 24/7</div>
                        <p style="margin-top: 20px">
                            1900 9002<br>
                            (08) 39850850
                        </p>
                    </div>
                </section>
                <section>
                    <div class="xacnhan">
                        <div class="name">HÓA ĐƠN CỦA BẠN</div>
                        <div class="price-room">Giá phòng</div>
                        <div class="ct">
                            <p class="pull-left">Phòng Premium <span>x1</span></p><p style="font-weight: bold" class="pull-right">VND 1.150.000</p>
                            <p class="pull-left">Phòng Premium <span>x1</span></p><p style="font-weight: bold" class="pull-right">VND 1.150.000</p>
                        </div>
                        <div class="price-room">Thuế và phí cộng thêm</div>
                        <div class="ct">
                            <p class="pull-left">Thuế GTGT (10%)</p><p style="font-weight: bold" class="pull-right">VND 1.150.000</p>
                            <p class="pull-left">Phí dịch vụ (*)</p><p style="font-weight: bold" class="pull-right">VND 150.000</p>
                        </div>
                        <div class="price-room"><div class="pull-left">Tổng cộng</div><div class="pull-right">VND 1.965.000</div></div>
                        <div class="ct">
                            <p class="pull-left">Mã giảm giá</p><p class="pull-right"><input placeholder="Nhập mã" type="text" class="form-control-static" style="text-align: center; height: 25px; max-width: 100px;border: none;background: #d2e4f2; border-radius: 5px;"></p>
                            <p class="pull-left">Số tiền được giảm</p><p style="font-weight: bold" class="pull-right">VND 150.000</p>
                        </div>
                        <div class="tc">
                            VND <div style="display: inline-block; font-size: 19pt;">1.865.000</div>
                        </div>
                        <div class="ct">
                            <p><input type="checkbox"> Tôi đã <strong>ĐỌC</strong> và <strong>ĐỒNG Ý</strong> với các điều kiện và điều khoản và chấp nhận thanh toán.</p>
                            <p>
                                *): Phí này sẽ được hoàn tùy vào điều kiện của nhà cung cấp khi quý khách hoàn/hủy vé.<br>
                                (**): Phí này sẽ không hoàn lại trong bất kỳ trường hợp nào
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- End Sidebar -->
    </div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
