﻿@using Presentation.Helpers
@model Presentation.Models.HotelSlim


<div class="item">
    <div class="col-md-4 featured-image hidden-sm">
        <img src="@Model.hotelImage" class="img-responsive" alt="@Model.hotelName" style="max-width:282px;max-height:189px;" />
    </div>
    <div class="col-md-8 hotel-info">
        <div class="row">
            <div class="col-sm-8 left hxs-7">
                <h3 class="pull-left"><a href="@Model.hotelLink">@Model.hotelName</a></h3>
                <div class="clearfix"></div>
                <div class="star">
                    @{
                        var x = Utilities.Instance.ParseInt(Utilities.Instance.ParseDouble(Model.hotelRate) * 10);
                    }
                    @for (int i = 0; i < x / 10; i++) {
                        <i class="fa fa-star"></i>
                    }
                    @if (x % 10 > 0) {
                        <i class="fa fa-star-half"></i>
                    }
                    @*<div class="pull-right facility">
                        <i class="fa fa-car"></i>
                        <i class="fa fa-glass"></i>
                        <i class="fa fa-gavel"></i>
                    </div>*@
                </div>
                <ul class="list-unstyled">
                    <li class="address"><i class="fa fa-map-marker"></i> @Model.hotelAddress</li>
                    @*<li class="viewing">22 người đang xem</li>*@
                    <li class="bed-info">@Model.roomFirst.roomCategory</li>
                    @*<li><strong>Chúng tôi còn @Model.roomFirst.roomItems phòng</strong></li>*@
                </ul>
            </div>
            <div class="col-sm-4 right hxs-5">
                <ul class="list-unstyled text-center">
                    @*<li class="mark"><strong>Rất tốt 8.2</strong></li>
                    <li class="base-on">Dựa trên 2150 đánh giá</li>
                    <li class="devider"></li>*@
                    <li class="price"><span class="currency">@Model.currency</span> @Model.minPrice</li>
                    @*<li class="price-for">Giá cho 3 đêm</li>*@
                    <li><a href="@Model.hotelLink" class="btn btn-block">Đặt ngay</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
