﻿@using Presentation.Helpers

@model Presentation.Models.Link
<li>
    <a href="@Model.href" class="@Model.cssClass" target="@Model.TargetToString" rel="@Model.RelToString">
        @for (int i = 1; i <= Utilities.Instance.ParseInt(Model.title); i++) {
            <i class="fa fa-star"></i>
        }
    </a>
</li>
