﻿@using ExpediaModels
@using Presentation.Helpers
@model ExpediaModels.HotelDetailDO

<div class="item">
    <div class="col-md-4 featured-image hidden-sm">
        <img src="@Model.HotelAvatar" class="img-responsive" alt="@Model.HotelName" />
    </div>

    <div class="col-md-8 hotel-info">
        <div class="row">
            <div class="col-sm-8 left hxs-7">
                <h3 class="pull-left"><a href="@Model.HotelURL">@Model.HotelName</a></h3>
                <div class="clearfix"></div>
                <div class="star">
                    @{
                        var x = Utilities.Instance.ParseInt(Utilities.Instance.ParseDouble(Model.StarRating) * 10);
                    }
                    @for (int i = 0; i < x / 10; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                    @if (x % 10 > 0)
                    {
                        <i class="fa fa-star-half"></i>
                    }

                </div>
                <ul class="list-unstyled">
                    <li class="address"><i class="fa fa-map-marker"></i> @Model.Address</li>
                    <li class="viewing">22 persons looking at this hotel</li>
                    <li class="bed-info"><i class="fa fa-user"></i>+<i class="fa fa-user"></i> 2 x @Model.DefaultRoom.RoomDescription</li>
                    <li><strong>Chúng tôi còn @Model.DefaultRoom.CurrentAllotment phòng</strong></li>
                </ul>
            </div>
            <div class="col-sm-4 right hxs-5">
                <ul class="list-unstyled text-center">
                    <li class="mark"><img src="@Model.TripAdvisorRatingUrl" alt="@Model.HotelName" /></li>
                    <li class="base-on">@Model.TripAdvisorReviewCount reviews</li>
                    <li class="devider"></li>
                    <li class="price"><span class="currency">VND</span> @Model.DefaultRoom.TotalAmount</li>
                    <li class="price-for">@Model.DefaultRoom.PriceForNights</li>
                    <li><a href="#" class="btn btn-block">Book Now</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

