﻿<!-- Footer start -->
<div class="footer">
    <div class="container">
        <!-- top row -->
        <div class="row footer-top">
            <div class="col-md-3 col-sm-6 item hidden-xs">
                <h4>Về Gotadi</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Giới thiệu Gotadi </a></li>
                    <li><a href="#">Các điều khoản sử dụng </a></li>
                    <li><a href="#">Truyền thông & Báo chí </a></li>
                    <li><a href="#">Ý kiến của người dùng </a></li>
                    <li><a href="#">Liên hệ </a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 item hidden-xs">
                <h4>Sản phẩm</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Vé máy bay  </a></li>
                    <li><a href="#">Khách sạn  </a></li>
                    <li><a href="#">Vé máy bay & khách sạn  </a></li>
                    <li><a href="#">Free & Easy  </a></li>
                    <li><a href="#">Tour trọn gói</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 item hidden-xs">
                <h4>Chia sẻ</h4>
                <ul class="list-inline social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <h4>Đăng ký email</h4>
                <form>
                    <div class="input-group">
                        <input placeholder="Địa chỉ email của bạn" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-arrow-right"></i></div>
                    </div>
                </form>
                <p>Đăng ký email để nhận khuyến mãi lên đến 70%</p>
            </div>
            <div class="col-md-3 col-sm-6 item  hidden-xs">
                <h4>Chứng nhận an toàn</h4>
                <ul class="list-inline secure-by">
                    <li>
                        <img src="@(ViewBag.cdns)img/icon-master-secure.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@(ViewBag.cdns)img/icon-verisign.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@(ViewBag.cdns)img/icon-visa-verified.jpg" alt="" />
                    </li>
                </ul>
                <h4>Chứng chỉ kinh doanh</h4>
                <img src="@(ViewBag.cdns)img/bo-cong-thuong.jpg" alt="" />
            </div>
        </div>
        <!-- top row end -->
        <!-- bottom row -->
        <div class="row">
            <div class="col-md-6">
                <p>Gotadi.com © 2014 – Hệ thống đặt phòng khách sạn trực tuyến hàng đầu Việt Nam</p>
                <p>Văn phòng tại Tp. Hồ Chí Minh: Lầu 2, Saigon Prime, 107-111 Nguyễn Đình Chiểu, Phường 6, Quận 3, Tp. Hồ Chí Minh, Việt Nam. </p>
                <p>Văn phòng tại Hà Nội: Lầu 9, 70-72 Bà Triệu, Quận Hoàn Kiếm, Hà Nội.</p>
                <p>Điện thoại : (08) 3930 8290 | Email CSKH: csc@Gotadi.com</p>
                <p>Cơ quan chủ quản: Công ty TNHH Gotadi - Số ĐKKD: 411022000539</p>
                <p>Cấp bởi: Ủy ban nhân dân thành phố Hồ Chí Minh</p>
            </div>
            <div class="col-md-3">
                <p>Bạn cần trợ giúp, hãy gọi:</p>
                <p class="support-number">
                    (08) 3930 8290 <br />
                    1900 9002
                </p>
                <p>Từ 7:30 - 18:30</p>
                <p class="support-email"><i class="fa fa-envelope"></i> contact@gotadi.com</p>
            </div>
            <div class="col-md-3 hidden-xs">
                <h4>Hệ thống thanh toán</h4>
                <ul class="list-inline payment-system">
                    <li>
                        <img src="@(ViewBag.cdns)img/icon-smartlink.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@(ViewBag.cdns)img/icon-master-card.jpg" alt="" />
                    </li>
                    <li>
                        <img src="@(ViewBag.cdns)img/icon-visa.jpg" alt="" />
                    </li>
                </ul>
                <h4>Thương hiệu chiến lược</h4>
                <ul class="list-unstyled key-brand">
                    <li>
                        <a href="#">
                            <img src="@(ViewBag.cdns)img/brand-logo/logo-aa.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@(ViewBag.cdns)img/brand-logo/logo-auco.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@(ViewBag.cdns)img/brand-logo/logo-baya.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@(ViewBag.cdns)img/brand-logo/logo-db-bahn.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@(ViewBag.cdns)img/brand-logo/logo-goodwill.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@(ViewBag.cdns)img/brand-logo/logo-k6.jpg" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- bottom row end -->
    </div>
</div>
<!-- Footer end -->
