﻿@{ 
    Response.StatusCode = 500;
}
<!DOCTYPE html>
<html lang="vi" class="js flexbox flexboxlegacy no-touch rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent svg inlinesvg svgclippaths no-ie8compat">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=1.0">

    <title>Trang không tìm thấy</title>

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/error/404.css" media="all">
    <script src="/assets/error/modernizr.custom.16079.js"></script>
</head>
<body class="master-layout">
    <div class="mm-page">
        <div id="late_deals">
            <div id="page" class="container">
                <div class="header_fixed">
                    <header id="hide_menu" class="">
                        <nav class="top-bar" data-topbar="" style="background-color: rgba(255,255,255,0.95); overflow: visible">
                            <section class="top-bar-section" data-topbar="" data-options="is_hover: false">
                                <div class="callus-container" style="float: right; top: 0px; left: 0px; height: 155px;">
                                    <div class="callus-button large show-for-medium-up">Cần hỗ trợ? Gọi số</div>
                                    <div class="callus-button show-for-small-only"><i class="btn btn-classic icon-telephone"></i></div>
                                    <div class="callus-info" style="display: block; overflow: hidden; height: 54px; padding-top: 1.09479155536967px; margin-top: 0px; padding-bottom: 3.28437466610902px; margin-bottom: 0px;">
                                        <div class="dep">Hot Line</div>
                                        <div class="tel"><a style="font-weight: bold; color: #008080;" id="phone_cookie" href="tel:02079939222">1900 9002</a></div>
                                        <div class="sep"></div>
                                        <div class="dep">Hot Line</div>
                                        <div class="tel hide-for-small"><a style="font-weight: bold; color: #7e2880;" href="//www.gotadi.com/">1900 9002</a></div>
                                        <div class="tel show-for-small"><a style="font-weight: bold; color: #7e2880;" href="tel:1900 9002">1900 9002</a></div>
                                    </div>
                                </div>
                            </section>
                        </nav>
                    </header>
                </div>
                <section class="main-section" id="content">
                    <div class="upper_not_found">
                        <div class="row">
                            <div class="columns large-12 small-12">
                                <h1>Ôi, lạc rồi!!!</h1>
                                <p>Không biết đi đâu, bạn hãy thử 1 số link bên dưới xem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns small-12 ">
                            <div class="page_not_found">
                                <div class="columns medium-6 hide-for-small ">
                                    <img src="/assets/error/not_found.png" alt="page not found">
                                </div>
                                <div class="columns medium-6 small-12 ">
                                    <div class="title">Các trang phổ biến</div>
                                    <ul class="columns medium-6 small-12 ">
                                        <li><a href="//www.gotadi.com/Tours.aspx">Du lịch</a></li>
                                        <li><a href="//www.gotadi.com/diem-den.aspx">Thông tin điểm đến</a></li>
                                        <li><a href="//www.gotadi.com/tap-chi.aspx">Tạp chí - Tin tức</a></li>
                                        <li><a href="//www.gotadi.com/partner.aspx">Hợp tác cùng Gotadi</a></li>
                                    </ul>
                                    <ul class="columns medium-6 small-12 ">
                                        <li><a href="//www.gotadi.com/Quick-Link/A/1.aspx">Giới thiệu</a></li>
                                        <li><a href="//www.gotadi.com/Quick-Link/A/Tuyen-dung-(1).aspx">Tuyển dụng</a></li>
                                        <li><a href="//www.gotadi.com/Quick-Link/A/4.aspx">Liên hệ</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
