﻿@using ExpediaModels

@{
    ViewBag.Title = "InputCustomerViewer";
    Layout = "~/Views/Shared/_LayoutInsider.cshtml";
    //ViewBag.HotelDetail = ViewData["HotelDetail"];

    
}

<main class="container">
    <section class="infomation infomation2 hidden-xs">
        <div class="step text-center">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <p style="font-size: 30px; color: #37AF2B;"><i style="background: #fff" class="fa fa-check-circle"></i></p>
                <p>Chọn khách sạn</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <p class="circle">2</p><br>
                <p style="max-width: 140px; display: inline-block;">Nhập thông tin khách</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <p class="circle">3</p><br>
                <p style="max-width: 140px; display: inline-block;"> Đặt khách sạn thành công</p>
            </div>
        </div>
    </section>
    <div class="content-step2">
        <div class="row">

            <!-- Sidebar: XÁC NHẬN TẠM THỜI -->
            <div class="col-md-3 col-md-push-9">
                <div class="sidebar">
                    <section>
                        <div class="xacnhan">
                            <div class="name">XÁC NHẬN TẠM THỜI</div>
                            <div class="price-room">Giá phòng / 2 đêm</div>
                            <ul>
                                <li>Phòng Premium <span>x1</span> <span>1.150.000 đ</span></li>
                                <li>Phòng Family Suite  <span>x1</span> <span>1.150.000 đ</span></li>
                                <li>Phòng Gold <span>x1</span> <span>1.150.000 đ</span></li>
                            </ul>
                            <div class="price-room">Tổng cộng</div>
                            <div class="tc">
                                VND <div style="display: inline-block; font-size: 19pt;">1.865.000</div>
                            </div>
                        </div>
                    </section>
                    <section class="hidden-xs hidden-sm">
                        <div style="font-size: 16pt; font-style: italic; color: #044079; font-weight: bold;">
                            BẠN ĐANG CÓ GIÁ TỐT! HÃY NHANH TAY ĐẶT GIỮ PHÒNG!
                        </div>
                        <div class="slogan">Đảm bảo giá tốt nhất</div>
                        <div class="slogan">Bảo mật thông tin</div>
                    </section>
                </div>
            </div>
            <!-- End Sidebar -->

            <div class="col-md-9 col-md-pull-3">
                <div class="content">
                    <section>
                        <div class="chitiet">CHI TIẾT ĐẶT PHÒNG</div>
                        <div class="suggest">
                            <div class="col-md-3 col-sm-2 max-xxs">
                                <div class="hotel">
                                    <div class="name-hotel">@ViewBag.HotelDetail.HotelName <i class="fa fa-star-o"></i></div>
                                    <div class="img-hotel hidden-xs">
                                        <img class="img-responsive hotel-avatar-circle" src="@ViewBag.HotelDetail.HotelAvatar" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 max-xxs">
                                <div class="information-inner">
                                    <div class="date-label">
                                        <div>
                                            @ViewBag.CheckInDay <br />
                                            @ViewBag.CheckInMonthYear
                                        </div>
                                        <div>Ngày nhận phòng</div>
                                    </div>
                                    <ul>
                                        <li><span>Mã tham chiếu: </span> ABC-123456</li>
                                        <li><span>Ngày nhận phòng: </span> 07/10/2015</li>
                                        <li><span>Khách hàng: </span> TRAN VAN B</li>
                                        <li><span>Khu vực: </span> Quận 1</li>
                                        <li><span>Bữa ăn: </span> </li>
                                        <li><span>Dịch vụ thêm: </span> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-6 max-xxs">
                                <div class="information-inner">
                                    <div class="date-label">
                                        <div>
                                            @ViewBag.CheckOutDay <br />
                                            @ViewBag.CheckOutMonthYear
                                        </div>
                                        <div>Ngày trả phòng</div>
                                    </div>

                                    <p><strong>Điều kiện hủy:</strong></p>
                                    <p>2 ngày trước khi nhận phòng (10 tháng 10, 2015).</p>
                                    <p>Hủy miễn phí trước ngày 10 tháng 10, 2015 - 12:00.</p>
                                    <p>Hủy sau ngày 10 tháng 10, 2015 - 12:00 sẽ bị thu phí 1 đêm tiền phòng</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="chitiet">THÔNG TIN LIÊN HỆ</div>
                        <div class="about-contact">
                            <p>Vui lòng nhập thông tin chính xác, chúng tôi sẽ sử dụng thông tin này để liên hệ với các bạn.</p>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Danh xưng:</label>
                                    <select class="form-control form-group">
                                        <option>Ông</option>
                                        <option>Bà</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Tên:</label>
                                    <input class="form-control form-group" type="text" />

                                    <label>Email:</label>
                                    <input class="form-control form-group" type="text" />
                                </div>
                                <div class="col-md-4">
                                    <label>Họ & Tên đệm:</label>
                                    <input class="form-control form-group" type="text" />

                                    <label>Số điện thoại:</label>
                                    <input class="form-control form-group" type="text" />
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="chitiet">THÔNG TIN PHÒNG ĐÃ ĐẶT</div>
                        <div class="available-rooms list-hotel">
                            <ul class="list-unstyled list-room selected-rooms">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="img/hotel.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-sm-8" style="height:100%;">
                                            <div class="row" style="height:100%;">
                                                <div class="col-sm-8 room-info">
                                                    <h3><a href="#">Family Suite</a></h3>
                                                    <p>45 m<sup>2</sup> Chúng tôi còn <strong class="text-success">02</strong> phòng</p>
                                                    <ul class="list-inline">
                                                        <li class="a-001"> x1</li>
                                                        <li class="a-002"> x2</li>
                                                        <li class="a-003"> x3</li>
                                                    </ul>
                                                    <ul class="list-inline bottom">
                                                        <li>- Không bao gồm Bữa Sáng</li>
                                                        <li>- Không bao gồm giường phụ</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4 price-info">
                                                    <div class="price">VND <span class="text-success">1.750.000</span></div>
                                                    <div class="text-primary">Giảm giá 30%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="img/hotel.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-sm-8" style="height:100%;">
                                            <div class="row" style="height:100%;">
                                                <div class="col-sm-8 room-info">
                                                    <h3><a href="#">Family Suite</a></h3>
                                                    <p>45 m<sup>2</sup> Chúng tôi còn <strong class="text-success">02</strong> phòng</p>
                                                    <ul class="list-inline">
                                                        <li class="a-001"> x1</li>
                                                        <li class="a-002"> x2</li>
                                                        <li class="a-003"> x3</li>
                                                    </ul>
                                                    <ul class="list-inline bottom">
                                                        <li>- Không bao gồm Bữa Sáng</li>
                                                        <li>- Không bao gồm giường phụ</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4 price-info">
                                                    <div class="price">VND <span class="text-success">1.750.000</span></div>
                                                    <div class="text-primary">Giảm giá 30%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="img/hotel.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-sm-8" style="height:100%;">
                                            <div class="row" style="height:100%;">
                                                <div class="col-sm-8 room-info">
                                                    <h3><a href="#">Family Suite</a></h3>
                                                    <p>45 m<sup>2</sup> Chúng tôi còn <strong class="text-success">02</strong> phòng</p>
                                                    <ul class="list-inline">
                                                        <li class="a-001"> x1</li>
                                                        <li class="a-002"> x2</li>
                                                        <li class="a-003"> x3</li>
                                                    </ul>
                                                    <ul class="list-inline bottom">
                                                        <li>- Không bao gồm Bữa Sáng</li>
                                                        <li>- Không bao gồm giường phụ</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4 price-info">
                                                    <div class="price">VND <span class="text-success">1.750.000</span></div>
                                                    <div class="text-primary">Giảm giá 30%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </section>
                    <section>
                        <div class="chitiet">CÁC YÊU CẦU ĐẶC BIỆT</div>
                        <div class="special">
                            <p>Yêu cầu đặc biệt không thể được đảm bảo - nhưng khách sạn sẽ cố gắng hết sức để đáp ứng nhu cầu của bạn.</p>
                            <div class="col-md-6">
                                <p><input type="checkbox"> Tôi muốn phòng yên tĩnh</p>
                                <p><input type="checkbox"> Tôi muốn phòng không hút thuốc</p>
                                <p><input type="checkbox"> Tôi muốn phòng tầng gác mái (nếu có sẵn)</p>
                                <p><input type="checkbox"> Tôi muốn phòng tầng trệt (nếu có sẵn)</p>
                                <p><input type="checkbox"> Tôi muốn xuất hóa đơn</p>
                            </div>
                            <div class="col-md-6">
                                <label>Tên Công Ty:</label>
                                <input class="form-control form-group" type="text" />

                                <label>Mã Số Thuế:</label>
                                <input class="form-control form-group" type="text" />

                                <label>Địa Chỉ Công Ty:</label>
                                <input class="form-control form-group" type="text" />
                            </div>
                            <div class="col-xs-12">
                                <label>Lời nhắn:</label>
                                <textarea class="form-control" name="textarea"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-success btn-lg continue-button">Tiếp tục <i class="fa fa-angle-double-right"></i></button>
                    </section>
                </div>
            </div>
            <!-- End content -->


        </div>
    </div>

</main>
<!--     Popular hotel
    <div class="popular-hotel">
        <div class="container">
            <div class="inner">
            <h2>Khách sạn phổ biến tại Tp. Hồ Chí Minh</h2>
            <div class="hotel-items">

            <div class="item">
                <img src="img/hotel.jpg" class="img-responsive" alt=""/>
                <h3><a href="#">Grand hotel Saigon</a></h3>
                <p>Rất tốt 8.2</p>
                <p>Từ <span>VND</span> <span class="price">1,450,000</span></p>
            </div>
            <div class="item">
                <img src="img/hotel.jpg" class="img-responsive" alt=""/>
                <h3><a href="#">Grand hotel Saigon</a></h3>
                <p>Rất tốt 8.2</p>
                <p>Từ <span>VND</span> <span class="price">1,450,000</span></p>
            </div>
            <div class="item">
                <img src="img/hotel.jpg" class="img-responsive" alt=""/>
                <h3><a href="#">Grand hotel Saigon</a></h3>
                <p>Rất tốt 8.2</p>
                <p>Từ <span>VND</span> <span class="price">1,450,000</span></p>
            </div>
            <div class="item">
                <img src="img/hotel.jpg" class="img-responsive" alt=""/>
                <h3><a href="#">Grand hotel Saigon</a></h3>
                <p>Rất tốt 8.2</p>
                <p>Từ <span>VND</span> <span class="price">1,450,000</span></p>
            </div>
            <div class="item">
                <img src="img/hotel.jpg" class="img-responsive" alt=""/>
                <h3><a href="#">Grand hotel Saigon</a></h3>
                <p>Rất tốt 8.2</p>
                <p>Từ <span>VND</span> <span class="price">1,450,000</span></p>
            </div>
            <div class="item">
                <img src="img/hotel.jpg" class="img-responsive" alt=""/>
                <h3><a href="#">Grand hotel Saigon</a></h3>
                <p>Rất tốt 8.2</p>
                <p>Từ <span>VND</span> <span class="price">1,450,000</span></p>
            </div>
            </div>
            </div>
        </div>
    </div>
     Popular hotel End
-->

