﻿<!-- Header start -->
<section class="header">
    <!-- Top header -->
    <div class="container">
        <div class="top-header">
            <div class="row">
                <div class="col-md-4">
                    <a class="logo" href="#">
                        <img src="/assets/img/logo.png" alt="" />
                    </a>
                </div>
                <div class="col-md-8">
                    <!-- Topbar -->
                    <div class="topbar pull-right">
                        <div class="support-number">
                            <span class="inner">
                                <i class="fa fa-phone"></i> 1900 9002 - (08) 62 850 850
                            </span>
                        </div>
                        <div class="clock">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="account">
                            <div class="inner">
                                <span>Login <br />Account</span>
                            </div>
                        </div>
                        <div class="lang-select">
                            <span class="inner">
                                <img src="/assets/img/flag-vn.png" alt="" />
                            </span>
                        </div>
                    </div>
                    <!-- Topbar end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header End -->
    <!-- Main nav start -->
    <div class="main-nav">
        <div class="container">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-plane"></i> Flight
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-hotel"></i> Hotel
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-diamond"></i> Free and Easy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-briefcase"></i> Tour
                    </a>
                </li>
                <li class="last">
                    <a href="#">
                        <i class="fa fa-newspaper-o"></i> Magazine
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End main Nav -->
</section>
<!-- Header End -->




<script src="assets/js/vendor/bootstrap.min.js"></script>

<script src="assets/js/main.js"></script>
