﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="@(ViewBag.cdns)css/bootstrap.min.css">
    <link rel="stylesheet" href="@(ViewBag.cdns)css/bootstrap-theme.min.css">
    <link href="@(ViewBag.cdns)vendor/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.cdns)vendor/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.cdns)css/icon.css" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.cdns)vendor/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.cdns)vendor/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="@(ViewBag.cdns)vendor/zurb-responsive-tables-0d34bc6/responsive-tables.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@(ViewBag.cdns)css/main.css">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.js"><\/script>')</script>



    <link rel="stylesheet" href="@(ViewBag.cdns)assets/css/bootstrap.min.css">
    <link href="@(ViewBag.cdns)assets/libs/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@(ViewBag.cdns)assets/css/bootstrap-theme-gotadi.min.css">

    <link rel="stylesheet" href="@(ViewBag.cdns)assets/css/main.css">

    <script src="@(ViewBag.cdns)assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.2.js"><\/script>')</script>

</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @Html.Partial("_headerlite")
    <main class="container">
        @RenderBody()
    </main>
    @Html.Partial("_footer")

    <script src="@(ViewBag.cdns)js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="@(ViewBag.cdns)vendor/zurb-responsive-tables-0d34bc6/responsive-tables.js" type="text/javascript"></script>
    <script src="@(ViewBag.cdns)js/vendor/bootstrap.min.js"></script>
    <script src="@(ViewBag.cdns)js/main.js"></script>
</body>
</html>