﻿@using Presentation.Models
@model Presentation.Models.Pagination

<ul class="pagination pull-left">
    @foreach (Link i in Model.data) {
        if (i == Model.index) {
            <li class="active">
                @Html.Partial("~/Views/Shared/_Link.cshtml", i)
            </li>
        } else {
            <li>
                @Html.Partial("~/Views/Shared/_Link.cshtml", i)
            </li>
        }
    }
</ul>
