﻿@using Presentation.Helpers

@model Presentation.Models.HotelDetail

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Search bar -->
<div class="search-bar search-form">
    <div class="row">

        <div class="form-group col-xs-12 col-md-2">
            <label>Điểm đến</label>
            <div class="input-wrap">
                <input class="form-control" name="" value="Ho Chi Minh (SGN)" type="text"><i class="fa fa-angle-down"></i>
            </div>
        </div>
        <div class="form-group col-xs-6 col-md-2">
            <label>Ngày đi</label>
            <div class="input-wrap">
                <input class="form-control calendar" value="15/07/2016" name="" type="text"><i class="fa fa-calendar"></i>
            </div>
        </div>
        <div class="form-group col-xs-6 col-md-2">
            <label>Ngày về</label>
            <div class="input-wrap">
                <input class="form-control calendar" value="15/07/2016" name="" type="text"><i class="fa fa-calendar"></i>
            </div>
        </div>
        <div class="form-group col-xs-12 col-md-4">
            <div class="row">
                <div class="col-xs-4">
                    <label>Người lớn</label>
                    <div class="input-wrap">
                        <i class="fa fa-minus"></i><input class="form-control" name="" value="1" type="text"><i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Trẻ em</label>
                    <div class="input-wrap">
                        <i class="fa fa-minus"></i><input class="form-control" name="" value="1" type="text"><i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Số phòng</label>
                    <div class="input-wrap">
                        <i class="fa fa-minus"></i><input class="form-control" name="" value="1" type="text"><i class="fa fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 item">
            <button class="btn btn-block btn-primary">Tìm kiếm mới</button>
        </div>
    </div>
</div>
<!-- Search bar -->
<!-- General Info -->
<div class="general-info">
    <div class="pull-left">
        <h1 class="title">@Model.index.hotelName</h1>
        <p>@Model.index.hotelAddress</p>
        <a href="#">Xem bản đồ <i class="fa fa-map-marker"></i></a>
    </div>
    <div class="pull-right text-right">
        <p>Giá chỉ từ</p>
        <p><span class="price">@Model.index.minPrice @Model.index.currency</span> / PAX</p>
        @*<p><span class="heart">&#10084;</span> Lưu vào danh sách yêu thích</p>
        <button class="btn btn-block btn-default">Đặt ngay</button>*@
    </div>
</div>
<!-- General Info end -->

<div class="row hotel-main-info">
    <div class="col-lg-10">
        <!-- Main info -->
        <div class="main-info">
            <div class="row">
                <div class="col-md-8">
                    <div class="inner">
                        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
                            <!-- Loading Screen -->
                            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                                <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                            </div>
                            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
                                @foreach (var i in Model.slider) {
                                    <div data-p="144.50" style="display: none;">
                                        <img data-u="image" src="@i" />
                                        <img data-u="thumb" src="@i" />
                                    </div>
                                }
                            </div>
                            <!-- Thumbnail Navigator -->
                            <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
                                <!-- Thumbnail Item Skin Begin -->
                                <div data-u="slides" style="cursor: default;">
                                    <div data-u="prototype" class="p">
                                        <div class="w">
                                            <div data-u="thumbnailtemplate" class="t"></div>
                                        </div>
                                        <div class="c"></div>
                                    </div>
                                </div>
                                <!-- Thumbnail Item Skin End -->
                            </div>
                            <!-- Arrow Navigator -->
                            <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
                            <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 key-point">
                    <div class="h3-title text-primary">Đặc điểm nổi bật</div>
                    <div class="review-star">
                        @{
                            var x = Utilities.Instance.ParseInt(Utilities.Instance.ParseDouble(Model.index.hotelRate) * 10);
                        }
                        @for (int i = 0; i < x / 10; i++) {
                            <i class="fa fa-star"></i>
                        }
                        @if (x % 10 > 0) {
                            <i class="fa fa-star-half"></i>
                        }
                    </div>
                </div>
            </div>

            <!-- Short introduction -->
            <div class="row short-introduction">
                <div class="col-xs-12">@Model.index.descriptionFull</div>
            </div>
            <!-- Short introduction end -->
            <!-- Available Rooms -->
            <div class="available-rooms">
                <div class="h2-title select-room-title">Xin mời quý khách chọn phòng</div>

                <div class="row">
                    <div class="col-md-10">
                        <ul class="list-unstyled list-room">
                            @foreach (var i in Model.rooms) {
                                @Html.Partial("~/Views/Hotel/Detail/_RoomItem.cshtml", i)
                            }
                        </ul>
                        <button class="btn btn-block btn-success load-more-room">Tải thêm danh sách phòng</button>
                    </div>
                    <div class="col-md-2 no-padding-left hidden-xs list-facilities-wrap">
                        <div class="list-facilities">
                            <div class="h3-title text-center">
                                Tiện nghi khách sạn
                            </div>
                            <ul class="list-unstyled list-items">
                                @foreach (string i in Model.index.amenitiesRoom) {
                                    <li>@i</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Available Rooms End -->
            <!-- Facility -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="facility">
                        <div class="pull-left text-primary">
                            Các tiện nghi của <span>@Model.index.hotelName</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row list-facilities">
                @foreach (string i in Model.index.amenitiesPrimary) {
                    <div class="col-md-4">
                        <ul><li><ul><li>@i</li></ul></li></ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- main info end -->
    <div class="col-lg-2 hidden-xs hidden-sm">
        <div class="right-sidebar">
            <div class="h3-title text-primary">Khách sạn đã xem</div>
            @*<button class="btn btn-block"><i class="fa fa-angle-up"></i></button>
            <ul class="list-hotel list-unstyled">
                <li>
                    <a href="#"><img src="img/hotel.jpg" class="img-responsive" alt="" /></a>
                    <a class="text-primary" href="#">Hotel Nikko Saigon</a>

                    <div class="review-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                    <div class="price">
                        Từ: <span>VND 10,500,000</span>
                    </div>
                    <div class="viewing">29 người đang xem</div>
                </li>
                <li>
                    <a href="#"><img src="img/hotel.jpg" class="img-responsive" alt="" /></a>
                    <a class="text-primary" href="#">Hotel Nikko Saigon</a>

                    <div class="review-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                    <div class="price">
                        Từ: <span>VND 10,500,000</span>
                    </div>
                    <div class="viewing">29 người đang xem</div>
                </li>
                <li>
                    <a href="#"><img src="img/hotel.jpg" class="img-responsive" alt="" /></a>
                    <a class="text-primary" href="#">Hotel Nikko Saigon</a>

                    <div class="review-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                    <div class="price">
                        Từ: <span>VND 10,500,000</span>
                    </div>
                    <div class="viewing">29 người đang xem</div>
                </li>
                <li>
                    <a href="#"><img src="img/hotel.jpg" class="img-responsive" alt="" /></a>
                    <a class="text-primary" href="#">Hotel Nikko Saigon</a>

                    <div class="review-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                    <div class="price">
                        Từ: <span>VND 10,500,000</span>
                    </div>
                    <div class="viewing">29 người đang xem</div>
                </li>
            </ul>*@
        </div>
    </div>
</div>