﻿@using Presentation.Models

@model Presentation.Models.HotelList
@{
    ViewBag.Title = "Danh sach khach san";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Search bar -->
<div class="search-bar search-form">
    <div class="row">
        <div class="form-group col-xs-12 col-md-2">
            <label>Điểm đến</label>
            <div class="input-wrap">
                <input class="form-control" name="" value="Ho Chi Minh (SGN)" type="text"><i class="fa fa-angle-down"></i>
            </div>
        </div>
        <div class="form-group col-xs-6 col-md-2">
            <label>Ngày đi</label>
            <div class="input-wrap">
                <input class="form-control calendar" value="15/07/2016" name="" type="text"><i class="fa fa-calendar"></i>
            </div>
        </div>
        <div class="form-group col-xs-6 col-md-2">
            <label>Ngày về</label>
            <div class="input-wrap">
                <input class="form-control calendar" value="15/07/2016" name="" type="text"><i class="fa fa-calendar"></i>
            </div>
        </div>
        <div class="form-group col-xs-12 col-md-4">
            <div class="row">
                <div class="col-xs-4">
                    <label>Người lớn</label>
                    <div class="input-wrap">
                        <i class="fa fa-minus"></i><input class="form-control" name="" value="1" type="text"><i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Trẻ em</label>
                    <div class="input-wrap">
                        <i class="fa fa-minus"></i><input class="form-control" name="" value="1" type="text"><i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Số phòng</label>
                    <div class="input-wrap">
                        <i class="fa fa-minus"></i><input class="form-control" name="" value="1" type="text"><i class="fa fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 item">
            <button class="btn btn-block btn-primary">Tìm kiếm mới</button>
        </div>
    </div>
</div>
<!-- Search bar -->

<div class="row">
    <!-- Main list start -->
    <div class="col-md-9 col-md-push-3">
        <div class="main-list">
            <h2 class="title">Kết quả tìm thấy <span class="text-success">@Model.page.totalItems</span> khách sạn ở <span class="text-success">@Model.index.placeCity</span></h2>
            <!-- sort -->
            <div class="sort hidden-xs">
                <span class="pull-left">Sắp xếp theo</span>
                <div class="pull-right">
                    <div class="input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Giá phòng">
                            <span class="input-group-addon"><i class="fa fa-sort-down"></i></span>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Hạng sao">
                            <span class="input-group-addon"><i class="fa fa-sort-down"></i></span>
                        </div>
                    </div>
                    <div class="input-group hidden-xs">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tên A-Z">
                            <span class="input-group-addon"><i class="fa fa-sort-down"></i></span>
                        </div>
                    </div>
                    <div class="input-group  hidden-xs">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Đánh giá">
                            <span class="input-group-addon"><i class="fa fa-sort-down"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sort end -->

            <div class="hotel-list">
                @foreach (var i in Model.hotelItems) {
                    @Html.Partial("~/Views/Hotel/List/_HotelItem.cshtml", i)
                }
                <!-- Pagination bar -->
                <div class="pagination-bar">
                    <div class="pull-left">Hiển thị</div>
                    @Html.Partial("~/Views/Shared/_Pagination.cshtml", Model.page)
                    <div class="back-to-top">Lên đầu trang</div>
                </div>
                <!-- Pagination bar -->
            </div>
        </div>
    </div>
    <!-- Main list end -->
    <!-- Sidebar Start -->
    <div class="col-md-3 col-md-pull-9">
        <div class="sidebar">
            <div class="filter-box hidden-xs">
                <div class="title">Xếp hạng theo sao</div>
                <ul class="list-unstyled filter-rate">
                    @foreach (var i in Model.filterStarRate) {
                        @Html.Partial("~/Views/Hotel/List/_FilterRateItem.cshtml", i)
                    }
                </ul>
            </div>
        </div>
    </div>
</div>