﻿
@model Presentation.Models.RoomDetail

<li>
    <div class="row">
        <div class="col-sm-4">
            <img src="@(!String.IsNullOrWhiteSpace(Model.roomImage) ? Model.roomImage : "")" class="img-responsive" alt="" />
        </div>
        <div class="col-sm-8" style="height:100%;">
            <div class="row" style="height:100%;">
                <div class="col-sm-8 room-info">
                    <h3><a href="@Model.roomPayLink">@Model.roomCategory</a></h3>
                    <p>@Model.roomBoardType</p>
                    @if (Model.roomItems > 0) {
                        <p>Chúng tôi còn <strong class="text-success">@Model.roomItems</strong> phòng</p>
                    }
                </div>
                <div class="col-sm-4 price-info">
                    <div class="price">@Model.currency <span class="text-success">@Model.minPrice</span></div>
                    <div class="text-primary">@Model.roomPromotion</div>
                    <a href="@Model.roomPayLink" class="btn-book">Đặt ngay</a>
                </div>
            </div>
        </div>
    </div>
</li>